<div id="notas" class="animated fadeIn">

  <h2>Bienvenido</h2>

  <div class="pendiente">Permitir ocultar el menú</div>
  <div class="pendiente">El índice de cada sección debiera ser un componente</div>
  <div class="pendiente">Cada sección debe tener un button top a modo de componente</div>
  <div class="pendiente">En los servicios hablar de lo que es un observable, una inyección y una suscripción</div>
  
  <h3>Propósito</h3>
  <hr>

  <ul>
    <li>Esta web tiene como objetivo ilustrar el funcionamiento de Angular de forma sencilla, breve y directa</li>
    <li>Me he formado en el funcionamiento de este framework durante un largo periodo de tiempo y he creado estas notas por si le pudieran servir a alguien basándome en diferente fuentes</li>
  </ul>

  <h3>Introducción</h3>
  <hr>

  <ul>
    <li>Angular es un framework de front desarrollado por Google que utiliza TypeScript</li>
    <li>Un framework es un set de herramientas software que el programador tiene a su disposición para elaborar aplicaciones web contando con un gran abanico de prestaciones que no tendrías programando desde cero</li>
    <li>TypeScript (de ahora en adelante, TS) es un lenguaje de programación desarrollado por Microsoft que utiliza JavaScript (de ahora en adelante, JS) como base crear un lenguaje de programación más robusto</li>
    <li>Ofrece numerosas prestaciones adicionales con las que JS no cuenta, por lo que se conoce como un superconjunto de JS, como tipado de variables, notificación de errores previa al periodo de ejecución, etc.</li>
  </ul>

  <h3>jQuery</h3>
  <hr>

  <div class="pendiente">Crear una sección solo de jQuery</div>
  <div class="pendiente">Buscar la diferencia entre <b>event.target</b> y <b>event.currentTarget</b></div>
  <div class="pendiente">Explicar cómo hacer smooth scrolling para navegar entre los apartados <u>de una misma sección</u></div>
  <div class="pendiente mb-40">Explicar cómo navegar entre las mismas secciones dentro de una misma página web (lo tienes hecho en el hook OnInit del componente Rutas, en el índice)</div>

  <ul>
    <li>Desde el directorio de nuestro proyecto ejecutamos el comando <b>& npm install jquery --save</b> para instalar jQuery dentro del directorio <i>node_modules</i></li>
    <li>Abrimos el fichero <i>angular.json</i> y dentro del campo vectorial <b>scripts</b> escribimos la ruta del fichero de distribución de jQuery dentro de este directorio</li>
    <li>Es conveniente elegir el fichero <i>.min</i> al ser más ligero. La ruta típicamente suele ser <i>"./node_modules/jquery/dist/jquery.min.js"</i></li>
    <li>Tras esto, ejecutamos el comando <b>$ npm install</b> o solamente <b>$ npm i</b> para actualizar las dependencias</li>
    <li>Dentro del componente en el que deseemos utilizar jQuery, escribimos la instrucción <b>declare var $: any;</b> delante del decorador</li>
    <li>Utilizamos jQuery dentro del hook <b>OnInit</b>, de modo que lo incluimos en el componente en caso de haberlo quitado (Angular CLI lo crea por defecto)</li>
    <li>Dentro podemos definir todos los manejadores en jQuery con total normalidad como hemos hecho siempre</li>
  </ul>

  <h4>Selector <b>$(this)</b></h4>

  <ul>
    <li>Utilizar <b>$(this)</b> puede dar problemas, ya que en TypeScript no apunta al elemento HTML que disparó el evento, como solía suceder típicamente cuando programábamos sin utilizar Angular</li>
    <li>En su lugar pasamos el evento como parámetro del manejador (<b>event</b>) y utilizamos <b>event.currentTarget</b>, que nos da acceso a todos los atributos necesarios del elemento HTML que disparó el evento</li>
    <li>Debemos tener en cuenta que el evento puede tener cualquier identificador, pero comúnmente se le suele asignar <i>event</i> o <i>e</i>, pero no es obligatorio</li>
    <li>Ante cualquier duda sobre la estructura del objeto <i>event</i>, siempre podemos inspeccionarla en la consola de JavaScript mediante la instrucción <b>console.log(event)</b></li>
  </ul>

  <h4>Funciones flecha</h4>

  <ul>
    <li>Es posible simplifcar la instrucción del manejador de un evento asociado a un elemento HTML gracias a las funciones flecha</li>
    <li>Por ejemplo, en lugar de <b>$( '.ejemplo' ).click( function( ... ) &#123; ... &#125; )</b>, podemos escribir <b>$( '.ejemplo' ).click( ( ... ) => &#123; ... &#125; )</b> y omitir así la palabra reservada <b>function</b></li>
  </ul>

</div>