<div id="notas" class="animated fadeIn">

  <h2>Bienvenido</h2>

  <app-indice [items]="itemsIndice"></app-indice>

  <!-- ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->
  
  <h3 id="proposito">1. Propósito</h3>
  <hr>

  <ul>
    <li>Esta web tiene como objetivo ilustrar el funcionamiento de Angular de forma sencilla, breve y directa</li>
    <li>Me he formado en el funcionamiento de este framework durante un largo periodo de tiempo y he creado estas notas por si le pudieran servir a alguien basándome en diferente fuentes</li>
  </ul>

  <!-- ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

  <h3 id="introduccion">2. Introducción</h3>
  <hr>

  <ul>
    <li>Angular es un framework de front desarrollado por Google que utiliza TypeScript (de ahora en adelante, TS)</li>
    <li>Un framework es un set de herramientas software que el programador tiene a su disposición para elaborar aplicaciones web contando con un gran abanico de prestaciones que no tendrías programando desde cero</li>
    <li>TS es un lenguaje de programación desarrollado por Microsoft que utiliza JavaScript (de ahora en adelante, JS) como base crear un lenguaje de programación más robusto</li>
    <li>Ofrece numerosas prestaciones adicionales con las que JS no cuenta, por lo que se conoce como un superconjunto de JS, como tipado de variables, notificación de errores previa al periodo de ejecución, etc.</li>
  </ul>

  <!-- ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

  <h3 id="angular-cli">3. Angular CLI</h3>
  <hr>

  <ul>
    <li>Angular CLI es una línea de comandos que nos permite gestionar proyectos de Angular desde consola de forma cómoda y rápida</li>
  </ul>

  <h4>3.1 Crear proyecto</h4>

  <ul>
    <li>Ejecutamos el comando <b>$ ng new _Nombre del proyecto_</b></li>
    <li>Esto creará un nuevo directorio con el scafolding de Angular</li>
  </ul>

  <h4>3.2 Ejecutar proyecto</h4>

  <ul>
    <li>Desde el directorio de nuestro proyecto, ejecutamos el comando <b>$ ng serve</b></li>
    <li>Tras esto, aparecerá por consola la URL que tendremos que pegar en el navegador web para ejecutar nuestro proyecto</li>
    <li>Para que se abra directamente una pestaña del navegador web con el proyecto en marcha, ejecutamos el comando <b>$ ng serve -o</b></li>
    <li>Si deseamos ejecutar más de un proyecto de Angular, tenemos que especificar un puerto dentro del comando de la forma <b>$ ng serve --port _Puerto_</b></li>
    <li>Por defecto, Angular trabaja con el puerto <i>4200</i>, pero podemos utilizar cualquier otro, como el <i>8080</i></li>
  </ul>

  <!-- ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

  <h3 id="local-storage">4. Local Storage</h3>
  <hr>

  <ul>
    <li>El local storage es un tipo de almacenamiento web que permite a aplicaciones de JS almacenar datos en el navegador web sin fecha de expiración</li>
    <li>Esto implica que los datos seguirán almacenados incluso si el usuario cierra el navegador web</li>
    <li>Para acceder al local storage desde nuestro navegador web, abrimos el inspector, hacemos clic en la pestaña <i>Application</i> y luego en <i>Local Storage</i></li>
    <li>Lógicamente, si utilizamos un dispositivo distinto, no tendremos accesos a los datos del local storage del otro dispositivo</li>
  </ul>

  <!-- ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

  <h3 id="jquery">5. jQuery</h3>
  <hr>

  <h4>5.1 Instalar jQuery</h4>

  <ul>
    <li>Desde el directorio de nuestro proyecto ejecutamos el comando <b>& npm install jquery --save</b> para instalar jQuery dentro del directorio <i>node_modules</i></li>
    <li>Abrimos el fichero <i>angular.json</i> y dentro del campo vectorial <b>scripts</b> escribimos la ruta del fichero de distribución de jQuery dentro de este directorio</li>
    <li>Es conveniente elegir el fichero de extensión <i>.min</i> al ser más ligero. La ruta típicamente suele ser <i>"./node_modules/jquery/dist/jquery.min.js"</i></li>
    <li>Otra opción igual de válida y mucho más sencilla es pegar el CDN dentro del fichero <i>index.html</i></li>
    <li>Tras esto, dentro del componente en el que deseemos utilizar jQuery, escribimos la instrucción <b>declare var $: any;</b> delante del decorador</li>
    <li>A partir de ahora podremos utilizar jQuery dentro de cualquier hook con total normalidad como hemos hecho siempre</li>
  </ul>

  <h4>5.2 Selector <b>$(this)</b></h4>

  <ul>
    <li>Utilizar <b>$(this)</b> puede dar problemas, ya que en TS no apunta al elemento HTML que disparó el evento, como solía suceder típicamente cuando programábamos sin utilizar Angular</li>
    <li>En su lugar pasamos el evento como parámetro del manejador (<b>event</b>) y utilizamos <b>event.target</b> o <b>event.currentTarget</b>, que nos da acceso a todos los atributos necesarios del elemento HTML que disparó el evento</li>
    <li>Típicamente se le suele dar al evento el identificador <i>event</i> o <i>evento</i> a modo de estándar, pero no es obligatorio (aunque sí una buena práctica)</li>
    <li>Ante cualquier duda sobre la estructura interna de este objeto (el evento), siempre podremos inspeccionarlo en la consola de JS mediante la instrucción <b>console.log(event)</b></li>
    <li>De esta forma la instrucción de ejemplo <b>$(this).attr("href")</b> y la instrucción <b>$(event.currentTarget).attr("href")</b> son equivalentes, salvo que la primera puede dar fallos (ver figura 5.1)</li>
  </ul>

  <h4>5.3 Navegación suavizada entre apartados dentro de una misma página</h4>

  <ul>
    <li>Escribimos la instrucción <b>declare var $: any;</b> delante del decorador del componente correspondiente</li>
    <li>Tras esto, ejecutamos el código ilustrado en la figura 5.1 dentro de un hook</li>
    <li>En este ejemplo se navega de una sección a otra haciendo clic en un elemento HTML cuya clase CSS es <i>item</i></li>
    <li>Como vemos, dentro del atributo HTML personalizado <i>data-target</i> contiene el identificador CSS del apartado correspondiente que hemos utilizado para fijar la posición del scroll</li>

    <img src="assets/img/inicio/figura5-1.png" alt="">
    <caption><strong>Figura 5.1</strong> Navegación suavizada entre apartados dentro de una misma página</caption>

  </ul>

  <h4>5.4 Funciones flecha</h4>

  <ul>
    <li>Es posible simplifcar la instrucción del manejador de un evento asociado a un elemento HTML gracias a las funciones flecha</li>
    <li>Por ejemplo, en lugar de <b>$( '.ejemplo' ).click( function( ... ) &#123; ... &#125; )</b>, podemos escribir <b>$( '.ejemplo' ).click( ( ... ) => &#123; ... &#125; )</b> y omitir así la palabra reservada <b>function</b></li>
  </ul>

</div>