#sidebar {
    background: rgb(50,55,70);
    border-radius: 2px;
    padding-top: 150px;
    position: relative;
    width: 350px;
    height: 100%;
    min-height: 100vh;

    .logo {
        margin: auto;
        position: absolute;
        top: 35px;
        right: 0;
        left: 0;
        width: 75px;
        height: auto;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            border-top: 1px solid rgba(245,245,255,.05);

            .icon {
                color: rgb(170,175,185);
                font-size: 15px;
                margin-right: 8px;
                transition: .5s ease-in-out;
            }

            a {
                display: block;
                color: rgb(170,175,185);
                text-decoration: none;
                white-space: nowrap;
                padding: 14px 40px;
                margin: 0;
                position: relative;
                transition: .5s ease-in-out;
            }

            .caret {
                color: rgb(170,175,185);
                font-size: 18px;
                line-height: 10px;
                position: absolute;
                top: 50%;
                right: 32px;
                transform: translateY(-50%);
                transition: .25s ease-in-out;

                &.active {
                    transform: translateY(-50%) rotate(90deg);
                }
            }

            .submenu {
                transition: 1s;
            }

            &:last-child {
                border-bottom: none;
                margin: 0;
            }

            &.active {
                background: rgba(255,255,255,.1);
            }

            &:hover  a, &:hover  .icon,
            &.active a, &.active .icon {
                color: white;
            }
        }
    }
}