<div id="sidebar">
  <img class="logo" src="assets/logo1.svg" alt="">
  <ul>
    <li routerLinkActive="active">
      <a routerLink="inicio">      
        <i class="icon fa fa-fw fa-home" aria-hidden="true"></i>
        Inicio
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="ngstyle">
        <i class="icon fa fa-fw fa-lightbulb-o" aria-hidden="true"></i>
        Directivas
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="pipes">
        <i class="icon fa fa-fw fa-life-ring" aria-hidden="true"></i>
        Pipes
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="rutas">
        <i class="icon fa fa-fw fa-link" aria-hidden="true"></i>
        Rutas
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="ciclos-de-vida">
        <i class="icon fa fa-fw fa-leaf" aria-hidden="true"></i>
        Ciclos de vida
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="despliegue">
        <i class="icon fa fa-fw fa-star-o" aria-hidden="true"></i>
        Despliegue
      </a>
    </li>
  </ul>
</div>