<div id="notas" class="animated fadeIn">

  <h2>Rutas</h2>

  <div class="pendiente mb-40">Rutas absolutas y rutas relativas en el atributo <b>routerLink</b></div>

  <span class="indice">
    <a href="#fichero-rutas">Fichero de rutas</a>
    <a href="#modulo-principal">Módulo principal</a>
    <a href="#router-outlet">Selector <b>&lt;router-outlet&gt;</b></a>
    <a href="#routerlink">Atributo <b>routerLink</b></a>
    <a href="#routerlinkactive">Atributo <b>routerLinkActive</b></a>
    <a href="#enviar-parametros">Enviar de parámetros a través de la URL</a>
    <a href="#recibir-parametros">Recibir parámetros a través de la URL</a>
    <a href="#rutas-hijas">Rutas hijas</a>
    <a href="#obtener-parametros-padre">Obtener parámetros del padre desde una ruta hija</a>
    <a href="#dividir-fichero-rutas">Dividir el fichero de rutas en varios ficheros de rutas</a>
    <a href="#manejo-rutas">Manejo de rutas en Angular</a>
  </span>

  <h3 id="fichero-rutas">1. Fichero de rutas</h3>
  <hr>

  <ul>
    <li>Llamamos fichero de rutas al fichero <i>app-routing.module.ts</i></li>
    <li>Este fichero nos permite establecer una correspondencia o mapping entre un componente y una ruta o URL (figura 1)</li>
    <li>Esta correspondencia no es más que un array de objetos almacenado en una constante (en la figura 1, dicha constante se llama <b>Routes</b>)</li>
    <li>Este sistema de rutas nos permite navegar entre las distintas páginas (componentes) que componen nuestra aplicación sin que dé la impresión de que la página se esté refrescando</li>
    <li>Solamente se actualizan aquellos contenidos que varían de una página a otra, lo mejora enormamente la experiencia de usuario</li>
    <li>Es más, utilizando el plugin <a href="https://daneden.github.io/animate.css/" target="_blank">Animate.css</a>, podemos dar efectos a las transiciones entre una página y otra fácilmente para mejorar todavía más la experiencia de usuario</li>
    <li>El comportamiento de este fichero es ciertamente similar al fichero de rutas de Laravel, solo que Laravel vincula una ruta a un controlador y Angular vincula una ruta a un componente</li>
  </ul>

  <img src="assets/img/rutas/figura1.png" alt="">
  <caption><strong>Figura 1.</strong> Contenido del fichero de rutas</caption>

  <ul>
    <li>Como se observa en la figura 1, existe un mapeo especial en caso de que la URL escrita no coincida con ninguno de los mapeos (<b>path: '**'</b>)</li>
    <li>En estos casos se redirecciona al componente que queramos (en el ejemplo ilustrado en la figura 1 se redirige al componente <i>Inicio</i>)</li>
    <li>También existe un mapeo especial en caso de no escribir nada en la URL (<b>path: '&nbsp;'</b>), en cuyo caso también se redirecciona al componente que queramos</li>
    <li>Nuevamente, en el ejemplo también se redirige al componente <i>Inicio</i>, pero no tiene por qué ser así, hubiéramos podido establecer un mapeo distinto en caso de haberlo deseaso sin ningún problema</li>
    <li>Nótese que para cada mapeo es necesario importar el componente implicado, por eso en el ejemplo de la figura 1 fue necesario importar los componentes <i>Inicio</i>, <i>Usuario</i> y <i>Rutas</i>, respectivamente</li>
  </ul>

  <h3 id="modulo-principal">2. Módulo principal</h3>
  <hr>

  <ul>
    <li>Dentro del fichero del módulo principal se debe importar la clase que gestiona las rutas e incluirla dentro del campo <b>imports</b> del decorador</li>
    <li>Esta clase se llama por defecto <b>AppRoutingModule</b>, pero podemos cambiarle el identificador dentro del fichero de rutas siempre y cuando <u>mantengamos la coherencia con el módulo principal</u></li>
    <li>En principio no debemos preocuparnos por las modificaciones dentro del módulo principal, dado que Angular se encarga por nosotros</li>
    <li>No obstante, es posible que tengamos que crear el fichero de rutas nosotros mismos, en cuyo caso resulta conveniente saber cómo modificar el módulo principal en base al fichero de rutas</li>
    <li>Es posible crear más de un fichero de rutas si este fuera demasiado extenso con el objetivo de mantener el código más modularizado, como veremos posteriormente</li>
    <li>Fíjate que la clase dentro del fichero de rutas (figura 1) se llama <b>AppRoutingModule</b> y que delante de su identificador aparece la palabra reservada <b>export</b></li>
    <li>Esta palabra reservada es clave para poder importar dicha clase en el módulo principal y dentro del campo <b>imports</b> del decorador (figura 2)</li>
  </ul>

  <img src="assets/img/rutas/figura2.png" alt="">
  <caption><strong>Figura 2.</strong> Modificaciones necesarias dentro del módulo principal</caption>

  <h3 id="router-outlet">3. Selector <b>&lt;router-outlet&gt;</b></h3>
  <hr>

  <ul>
    <li>Este selector de Angular permite <u>renderizar el contenido de un componente</u> u otro en el frontend en función de la URL</li>
    <li>¿Cualquier componente? No, solo aquellos que tengan asignada una URL dentro del fichero de rutas (figura 2)</li>
    <li>Además, permite separar el contenido común en varias páginas de el contenido específico de cada página (componente) per se (figura 3)</li>
    <li>Con contenido común o compartido nos referimos a código que vaya a ser renderizado en más de una página (como el menú de navegación o el pie de página, entre otros), que a su vez puede ser un componente</li>
  </ul>

  <img src="assets/img/rutas/figura3.png" alt="">
  <caption><strong>Figura 3.</strong> Separación de los componentes compartidos de los componentes específicos a través de <b>&lt;router-outlet&gt;</b></caption>

  <ul>
    <li>Como se observa en la figura 3, los selectores <b>&lt;app-navbar&gt;</b> y <b>&lt;app-footer&gt;</b> corresponden a componentes compartidos (el menú de navegación y el pie de página, respectivamente)</li>
    <li>Es por ello que sus selectores se escriben separadamente del selector <b>&lt;router-outlet&gt;</b></li>
    <li>Claro, en este ejemplo se desea que el menú de navegación y el pie de página se vean siempre, independientemente de la URL dentro de la app en la que nos encontremos</li>
    <li>Siguiendo con el ejemplo, con el fin de centralizar la renderización del menú de navegación y del pie de página, no le asignamos a estos ninguna ruta dentro del fichero de rutas y renderizamos indistintamente su contenido</li>
    <li>Imagina cómo serían las cosas sin este selector, teniendo que escribir el código del contenido común en todas y cada una de las páginas que compongan nuestra aplicación</li>
    <li>Si quisiéramos modificar alguna cosa, por ejemplo un ítem del menú de navegación, tendríamos que repetir esta modificación para todas sus apariciones en cada una de dichas páginas</li>
    <li>Este selector nos permite realizar las modificaciones pertinentes en el contenido compartido una sola vez y que los cambios se proyecten en todas las páginas del proyecto</li>
    <li>Grosso modo, utilizaremos el selector cuando deseemos renderizar solo determinados componentes en función de la URL escrita dentro de nuestra app</li>
    <li>Como ya veremos, es posible utilizar más de una vez este selector cuando se trabaja con rutas hijas (apartado 8)</li>
  </ul>

  <h3 id="routerlink">4. Atributo <b>routerLink</b></h3>
  <hr>

  <ul>
    <li>Este atributo de Angular se emplea dentro de un elemento HTML <b>&lt;a&gt;</b> como si de un atributo HTML se tratara, con el fin de sustituir al atributo <b>href</b>&nbsp;<u>en determinados casos</u></li>
    <li>En los anteriores apartados vimos cómo vincular una URL a un componente (fichero de rutas) y cómo se renderizar un componente en el front mediante el selector <b>&lt;router-outlet&gt;</b></li>
    <li>Nuestro objetivo ahora es permitir al usuario navegar entre las diferentes páginas de nuestra aplicación a tavés de la interfaz web, típicamente con un menú de navegación</li>
    <li>Actualmente, para navegar entre las páginas del proyecto tendríamos que escribir la URL a mano en el navegador web, lo que conlleva a que la página se refresque por completo</li>
    <li>En caso de utilizar el clásico un menú de navegación, se espera que dentro del código HTML encontremos elementos <b>&lt;a&gt;</b> y el atributo <b>href</b> para enlazar páginas</li>
    <li>Desgraciadamente, este atributo hace que la página se refresque por completo, lo que se aleja del objetivo de la navegación suavizada</li>
    <li>Bien, el atributo <b>routerLink</b> permite conseguir este objetivo siguiendo un comportamiento muy similar al del atributo HTML <b>href</b>, aunque no solo admite un texto como valor, sino también un vector (figura 4)</li>
    <li>¿Por qué un vector? Porque además de asignarle la ruta a la que debe redireccionar, también podemos pasar parámetros a través de la URL</li>
    <li>Por supuesto es posible embeber variables TS como elementos del vector, pero en tal caso debemos escribir <b>[routerLink]</b>, con corchetes, ya que estos indican que va a recibir información del fichero TS del componente</li>
  </ul>

  <img src="assets/img/rutas/figura4.png" alt="">
  <caption><strong>Figura 4.</strong> Uso del atributo <b>routerLink</b> en un menú de navegación</caption>

  <ul>
    <li>La figura 4 ilustra multitud de casos interesantes (las URLs resultantes aparecen a modo de comentarios dentro de dicha figura)</li>
    <li>En el primer caso, cuando enviamos la URL mediante un literal, podemos ignorar los corchetes que wrappean el atributo, el vector y las comillas simples para wrappear el literal</li>
    <li>En el segundo caso se hace lo mismo que en el primero, pero utilizando el susodicho vector, lo que no obliga a wrappear el atributo con corchetes y utilizar las comillas simples para wrappear el literal</li>
    <li>Es decir, si utilizamos el vector en el lado derecho de la asignación, tenemos que wrappear el atributo entre corchetes, <u>aunque el vector solo contenga literales</u></li>
    <li>En el tercer y cuarto casos se utiliza un vector con más de un elemento para el envío de parámetros, en cuyo caso <u>hay que adaptar el mapeo del fichero de rutas</u> para tener en cuenta los parámetros (apartado 7)</li>
    <li>Como vemos, no estamos limitados al envío de un solo parámetro, sino que podemos enviar tantos como queramos (aunque algunos navegadores pueden dar problemas si la URL es demasiado larga)</li>
    <li>¿Podemos enviar variables o expresiones? Sí, los últimos casos así lo ilustran, incluso podemos combinar variables, experiones y literales sin ningún problema</li>
    <li>Eso sí, este atributo no sirve para establecer una redirección a algo que no conste en el fichero de rutas, como una página web externa o un componente que no se recoja dentro del mapeo</li>
    <li>En tal caso debemos utilizar este atributo <b>href</b>, dado que <b>routerLink</b> sirve para navegar <u>entre componentes</u> (no todos, sino aquellos que consten en el fichero de rutas, recuerda)</li>
  </ul>

  <h4>Atributo <b>routerLink</b> y el plugin <a href="https://daneden.github.io/animate.css/" target="_blank">Animate.css</a></h4>

  <ul>
    <li>Acabamos de ver cómo navegar entre las diferentes páginas que componen nuestra app refrescando solo aquellas zonas que correspondiesen a componentes que no fueran compartidos</li>
    <li>Aunque hayamos conseguido nuestro objetivo y la página no se refresque por completo tras las transiciones, sino solo el contenido diferente, estas son abruptas</li>
    <li>Podemos darle efectos a dichas transiciones para mejorar las transiciones y con ello la experiencia de usuario mediante el plugin <a href="https://daneden.github.io/animate.css/" target="_blank">Animate.css</a></li>
    <li>Podemos incorporarlo a nuestro proyecto integrando su CDN en el fichero <i>index.html</i> o descargándolo y metiéndolo dentro del directorio <i>assets/libs</i></li>
    <li>Para utilizarlo, debes escribir <i>animated</i> en el contenedor que <u>wrapee al componente afectado por el selector <b>&lt;router-outlet&gt;</b></u> más la clase que corresponda con el efecto deseado</li>
    <li>Dentro de la página web oficial del plugin tenemos acceso al catálogo de animaciones y la clase CSS asociada</li>
    <li>Por ejemplo, la clase <b>class="animated fadeIn"</b> se utiliza con bastante asiduidad para conseguir un efecto de desvanecimiento, pero hay más</li>
    <li>Evidentemente podemos gestionar las animaciones por nuestra cuenta a través de CSS, pero este plugin hace este trabajo por nosotros</li>
  </ul>

  <h3 id="routerlinkactive">5. Atributo <b>routerLinkActive</b></h3>
  <hr>

  <ul>
    <li>Este atributo nos permite activar solo el ítem del menú de navegación que corresponda con el componente que se esté cargando actualmente</li>
    <li>Con activar nos referimos a distinguirlo de entre los demás utilizando CSS (cambiándole el color, utilizando un subrayado, etc.) para que el usuario sepa en todo momento en qué sección de la aplicación se encuentra</li>
    <li>Dado que el manejo del menú de navegación se encuentra ahora centralizado en un único componente, ¿cómo podemos saber qué componente afectado por el selector <b>&lt;router-outlet&gt;</b> es el que se está renderizando?</li>
    <li>Anteriormente solíamos asignarle una clase CSS al ítem activo para diferenciarlo de los demás, en cada una de las páginas que componían nuestra app en todas las apariciones del menú de navegación</li>
    <li>Para no tener que estar tomándonos tantas molestias, Angular nos permite utilizar este atributo en el elemento HTML que sea padre directo de cada enlace del menú de navegación (figura 5)</li>
  </ul>

  <img src="assets/img/rutas/figura5.png" alt="">
  <caption><strong>Figura 5.</strong> Uso del atributo <b>routerLinkActive</b> en un menú de navegación</caption>

  <ul>
    <li>Grosso modo, le asignará la clase CSS (a modo de literal o variable TS) que aparece al lado derecho de la asignación al <u>padre directo</u> del elemento HTML <b>&lt;a&gt;</b>&nbsp;<u>que esté utilizando el atributo <b>routerLink</b></u></li>
    <li>Siguiendo con el ejemplo de la figura 5, debemos escribir este atributo <u>para todos</u> los ítems del menú de navegación que deseemos resaltar</li>
    <li>En caso de utilizar una variable TS en lugar de un literal, tendremos que wrappear el atributo <b>routerLinkActive</b> entre corchetes, como se ve en el último ítem del menú de navegación de la figura 5</li>
    <li>Ojo, puedes utilizar corchetes si quieres, haya o no una variable en el lado derecho de la asignación, pero en tal caso, de tratarse de un literal, utiliza comillas simples</li>
    <li>Recuerda, el atributo <b>routerLinkActive</b> debe utilizarse en el padre directo del enlace que utilice el atributo <b>routerLink</b> para que Angular pueda detectar de qué URL se trata y poder localizar el componente vinculado dentro del fichero de rutas</li>
    <li>Esto implica que en medio de estos dos elementos HTML no debe existir ningún otro, o no serán padre e hijos directo y este atributo no surtiría efecto</li>
  </ul>

  <h3 id="enviar-parametros">6. Enviar parámetros a través de la URL</h3>
  <hr>

  <ul>
    <li>¿Por qué iba a interesarnos el envío de parámetros a través de la URL? Es una operación bastante útil y utilizada en otros frameworks (Laravel, por ejemplo)</li>
    <li>Supón que en nuestra aplicación deseamos mostrar un grid de notificas con el fin de que cuando el usuario haga clic en una de ellas, acceda a su ficha completa en otra página</li>
    <li>¿Cómo sabe el navegador web qué ficha renderizar si no sabe qué noticia ha seleccionado el usuario? Antaño se debía crear una página para cada una de las noticias, pero con Angular no es necesario</li>
    <li>Si cada noticia estuviera provista de un identificador, solo tendríamos que inyectarlo en la URL, tal que dentro de la ficha, se pudiera leer dicho URL y cargar la información correspondiente</li>
    <li>En el siguiente apartado veremos cómo es posible que un componente lea <u>uno o más parámetros</u> de la URL, pero en este caso nos vamos a centrar solo en el envío de parámetros</li> 
    <li>Hay varias formas de conseguir este objetivo, según el elemento HTML desde el que deseemos cargar el componente que vaya a recibir el parámetro en cuestión, esto es a través de un enlace o un botón</li>
  </ul>

  <h4>6.1 Mapeo del fichero de rutas ante el envío de parámetros</h4>

  <ul>
    <li>Dentro del fichero de rutas importamos el componente que vaya a recibir el parámetro desde la URL y establecemos el mapeo entre este y una ruta como vimos en el apartado 1</li>
    <li>No obstante, la ruta en este mapeo tendrá que incluir uno o más sufijos por cada parámetro que se desee enviar (figura 6)</li>
    <li>Como vemos en la figura 6, el componente <i>Usuario</i> puede recibir uno o dos parámetros, a saber, el DNI (<b>/:dni</b>) y la edad (<b>/:edad</b>), aunque podemos enviar el número de parámetros acorde a nuestras necesidades</li>
  </ul>

  <img src="assets/img/rutas/figura6.png" alt="">
  <caption><strong>Figura 6.</strong> Mapeo dentro del fichero de rutas ante el envío de parámetros</caption>

  <ul>
    <li>De esta forma, la URL <i>www.miproyecto.com/usuario/12345678X</i> sería una URL válida, ya que encajaría con el mapeo <b>usuario/:dni</b> visto en la figura 6, siendo <i>12345678X</i> el DNI del usuario</li>
    <li>Por otra parte, la URL <i>www.miproyecto.com/usuario/12345678X/25</i> también sería una URL válida al encajar con el mapeo <b>usuario/:dni/:edad</b>, siendo <i>25</i> la edad del usuario</li>
    <li>Ojo, de haber escrito la URL <i>www.miproyecto.com/usuario</i> sin parámetros, no encajaría con ningún mapeo <u>directo</u> dentro del fichero de rutas, redirigiendo en este caso al componente de inicio</li>
    <li>Claro, fíjate que en la figura 6, en caso de no reconocer la ruta (<b>path: '**'</b>), se redirecciona al componente de inicio</li>
  </ul>

  <img src="assets/img/rutas/figura7.png" alt="">
  <caption><strong>Figura 7.</strong> Estructura de los parámetros recibidos a partir de la URL en la consola de JavaScript</caption>

  <ul>
    <li>Es importante asignarle un identificador descriptivo a cada parámetro dentro del fichero de rutas</li>
    <li>Siguiendo con el ejemplo de la figura 6, si el primer parámetro va a ser el DNI y el segundo la edad, dos identificadores apropiados serían precisamente <b>dni</b> y <b>edad</b>, respectivamente</li>
    <li>Cuando el componente <i>Usuario</i> reciba los parámetros a partir de la URL, la forma más cómoda de poder almacenar su valor es a través de sus identificadores, como veremos en el siguiente apartado</li>
    <li>En la figura 7 se observan los parámetros recibidos dentro del componente <i>Usuario</i> en la consola de JavaScript del navegador web</li>
    <li>Como vemos, los parámetros se reciben a modo de objeto, donde el identificador de cada campo es el mismo que el especificado en el fichero de rutas (figura 6)</li>
    <li>En caso de enviarse múltiples parámetros a través de la URL, más nos vale asignarles nombres que tengan sentido o el tratamiento de datos podría complicarse sin ninguna necesidad</li>
  </ul>

  <h4>6.2 Envío de parámetros a través de un enlace</h4>

  <ul>
    <li>Dentro del código HTML del componente afectado, hacemos uso del elemento <b>&lt;a&gt;</b> con el atributo <b>routerLink</b> entre corchetes, dado que para el envío de parámetros <u>debemos utilizar un vector</u></li>
    <li>Dicho vector contendrá el fragmento del ruta asociado al componente destino más los parámetros entre comillas simples en caso de tratarse de literales o sin comillas simples en caso de tratarse de expresiones TS</li>
    <li>Por ejemplo, si quisiéramos crear un link en HTML que nos condujera a la URL <i>www.miproyecto.com/usuario/12345678X</i>, tendríamos que embeber el atributo <b>routerLink</b> de la forma <b>[routerLink]=['usuario', '12345678X']</b></li>
    <li>En caso de querer enviar también la edad, siguiendo con el ejemplo de la figura 7, hubiéramos tenido que escribir <b>[routerLink]=['usuario', '12345678X', '25']</b></li>
    <li>Los parámetros no tienen por qué ser literales, por ejemplo en <b>[routerLink]=['usuario', dni, 20 + 5]</b> el primer parámetro se encuentra almacenado dentro del atributo <b>dni</b> de la clase del componente <u>donde se esté renderizando el link</u>, mientras que la edad es una expresión en TS (ambos sin comillas simples)</li>
    <li>Recuerda respetar en todo momento el mapeo especificado en el fichero de rutas o la redirección no se establerá de la forma deseada</li>
  </ul>  

  <h4>6.3 Envío de parámetros a través de un botón</h4>

  <ul>
    <li>¿Cómo nos las apañaríamos si en lugar de un enlace tuviéramos que hacer uso de un botón?</li>
    <li>La opción más simple es maquetar el enlace con CSS para darle apariencia de botón, pero de no tener esa posibilidad, podemos establecer una redirección mediante TS</li>
    <li>Al tratarse de un botón no podremos hacer uso del atributo <b>routerLink</b>, pero podemos asociarle un manejador de evento, similar a como hacíamos en JavaScript (figura 8), pero dentro del propio elemento HTML</li>
  </ul>

  <img src="assets/img/rutas/figura8.png" alt="">
  <caption><strong>Figura 8.</strong> Botón HTML con un manejador de evento TS asociado (<b>abrirUsuario()</b>)</caption>

  <ul>
    <li>Dentro del fichero TS del componente donde se encuentre el botón HTML debemos importar el módulo <b>Router</b> e inyectarlo dentro del constructor (figura 9)</li>
    <li>Gracias a esta inyección, es posible utilizar los métodos de este módulo dentro de la función <b>abrirUsuario( )</b>, en particular el método <b>navigate( )</b></li>
    <li>Este método establece una redirección similar a la que vimos en el apartado 6.2, pero desde TS, como se observa en la figura 9, que continúa con el ejemplo visto anteriormente</li>
    <li>Este método acepta un vector en caso de desear enviar parámetros a través de la URL. Análogamente, es posible utilizar variables o expresiones TS, no estamos limitados únicamente a literales</li>
  </ul>

  <img src="assets/img/rutas/figura9.png" alt="">
  <caption><strong>Figura 9.</strong> Redirección vía TS</caption>

  <h3 id="recibir-parametros">7. Recibir parámetros a través de la URL</h3>
  <hr>

  <div class="pendiente">¿Para que la suscripción al observable funcione, solo puede inyectarse en el constructor?</div>
  <div class="pendiente">¿Podemos suscribirnos al observable fuera del constructor?</div>
  <div class="pendiente mb-40">¿Es posible pillar los parámetros en plan vector de la forma <b>parametrosURL[i]</b>?</div>

  <ul>
    <li>En el apartado anterior vimos cómo un componente emisor podía enviar uno o más parámetros a través de la URL. Ahora veremos cómo el componente receptor puede almacenarlos para poder utilizarlos posteriormente</li>
    <li>En del fichero TS del componente receptor importamos el módulo <b>ActivatedRoute</b> y lo inyectamos en el constructor</li>
    <li>Dentro del constructor nos suscribimos al observable de dicho módulo para obtener los parámetros de la URL a través del método <b>params()</b>, como se observa en la figura 10</li>
    <li>En el resultado captado en la suscripción tenemos un objeto que almacena todos los parámetros, cuyos campos tienen el mismo identificador que el definido en el fichero de rutas, como explicamos en el apartado 6.1</li>
    <li>En el ejemplo ilustrado en la figura 10 hemos almacenado los parámetros separadamente en atributos por comodidad, pero hubiera sido posible almacenarlos todos en una única variable</li>
    <li>La variable <i>parametrosURL</i> (le hemos puesto ese nombre porque nos ha dado la gana, pero podríamos haberle puesto cualquier otro) almacena todos los parámetros enviados en la URL</li>
    <li>Aquí podemos ver por qué resulta tan conveniente asignar nombres intuitivos a los parámetros en el fichero de rutas</li>
  </ul>

  <img src="assets/img/rutas/figura10.png" alt="">
  <caption><strong>Figura 10.</strong> Código base para recibir parámetros de la URL</caption>

  <h3 id="rutas-hijas">8. Rutas hijas</h3>
  <hr>

  <ul>
    <li>Deseamos poder escribir una URL de la forma www.miaplicacion.com/usuario/10/ver-perfil.</li>
    <li>Como podemos ver, deseamos acceder al perfil del usuario cuyo ID es 10.</li>
    <li>Dado que estamos añadiendo un nuevo nivel de profundidad en la URL al escribir "ver-perfil" después del ID, esta se considera una subruta.</li>
    <li>Creamos un componente llamado usuario que será el principal y cuatro más que serán secundarios, accesibles desde rutas hijas</li>
    <li>Para acceder al componente principal de usuario, debemos hacer clic en <a [routerLink]="['/usuario/10']">este enlace</a></li>
    <li>Ojo, en el fichero de rutas hemos establecido que el componente de usuario acepte un parémtro, de modo que en el enlace de abajo, dentro del código HTML, acoplamos un ID a la ruta</li>
    <li>Le hemos puesto el ID 10 como ejemplo, pero hubiera valido cualquier otro</li>
    <li>Dentro del fichero de rutas establecemos que el componente usuario recibirá un parámetro dentro de la URL (figura 1)</li>
    <li>Además, tendrá un vector de rutas hijas con el mapeo entre ruta y componente que hemos visto siempre (figura 1)</li>
    <li>Igualmente podemos ponerle un mapeo entre una ruta que no corresponda a nada y un componente hijo (figura 1)</li>
  </ul>

  <img src="assets/rutas-hijas1.png" alt="">
  <caption><strong>Figura X.</strong> Breve explicación del contenido ilustrado en la figura</caption>

  <ul>
    <li>Dentro de este link encontraremos varios botones que nos redirigirán a las subrutas correspondientes según el caso (crear usuario, editar usuario...).</li>
    <li>Para cada botón asignamos también una ruta (figura 2)</li>
    <li>¿Por qué no hemos escrito / delante del nombre de la ruta para cada botón? Porque son rutas hijas del componente actual</li>
    <li>Si quitásemos el router-outlet, al cargar este componente principal de usuarios solo se verían los botones, dado que no se estaría renderizando el contenido de ninguno de sus componentes hijos al estarse cargando la ruta del componente padre en el navegador web</li>
    <li>No solo eso, sino que el routeroutlet es necesario para que se renderice el contenido de los componentes asociados a las rutas hijas, dado que así funciona Angular</li>
    <li>¿Te sorprende este comportamiento? Es el mismo que sigue Angular de cara al menú de navegación y el HTML del componente principal, pero en un ámbito más específico</li>
    <li>Es decir, cuando trabajamos con rutas hijas, podemos tener más de un routeroutlet para cada ámbito y el comportamiento esperado sería el mismo que siempre, de modo que no hay por qué tener miedo</li>
    <li>Grosso modo, routeroutlet en este caso es necesario para poder visualizar los componentes asociados a las rutas hijas</li>
    <li>¿Cómo podemos hacer para que nada más cargar el componente padre se cargue por defecto el contenido de uno de sus componentes hijos? Ojo, con componentes hijos hacemos referencias a los componentes asociados a las URLs hijas, independientemente de la ubicación del componente correspondiente en cuestión</li>
    <li>Esta tarea ya la hemos completado sin darnos cuenta, en la figura 1 vimos que ante una ruta no reconocida, cargue por defecto la URL del componente que crea un usuario, de modo que al acceder al componente de usuario no hace falta seleccionar un componente hijo para ver algo más que el grupo de botones</li>
  </ul>

  <img src="assets/rutas-hijas2.png" alt="">
  <caption><strong>Figura X.</strong> Breve explicación del contenido ilustrado en la figura</caption>

  <h3 id="obtener-parametros-padre">9. Obtener parámetros del padre desde una ruta hija</h3>
  <hr>

  <ul>
    <li>¿Recuerdas que el padre usuario tenía el parámetro 10 en el ejemplo que correspondía con su ID?, ¿cómo podemos capturarlo desde los componentes asociados a las rutas hijas?</li>
    <li>Captar el ID que se encuentra en la URL desde el componente usuario padre es igual que siempre, importando el módulo ActivatedRoute, inyectándolo en el constructor y suscribiéndonos al observable para almacenarlo dentro de un atributo de clase, pero con los hijos no es igual</li>
    <li>Claro, ten en cuenta que si lo hiciera igual en alguna de las rutas hijas, el parámetro que pillaríamos tendría que ir DESPUÉS del nombre de la ruta asociado al componente hijo, por ejemplo www.ejemplo.com/usuario/10/crear/parametro-de-la-ruta-hija</li>
    <li>En este ejemplo, siguiendo el mismo procedimiento, lo que pillaríamos como parémtro en el componente hijo no sería 10, sino parametro-de-la-ruta-hija, dado que va después</li>
    <li>Por supuesto, de hacerlo así tendríamos que incluir el parámetro 'crear/:parametro en el fichero de rutas del componente padre</li>
  </ul>

  <img src="assets/rutas-hijas5.png" alt="">
  <caption><strong>Figura X.</strong> Breve explicación del contenido ilustrado en la figura</caption>

  <ul>
    <li>El problema es que estamos intentando acceder al parámetro del componente PADRE, no del hijo, por eso no se hace igual</li>
    <li>Pues la solución es súpe rsencilla, solo tenemos que poner .parent delante del método .params y listo</li>
    <li>De hecho, no recibiríamos un solo paraámetro del padre, sino todos, de haber más (en este ejemplo solo había uno)</li>
    <li>Cuando se hace un console log de los parámetros, el JSON que se imprime en la consola de JS tiene un objeto con campos. Como sabe el nombre de eso scampos? porque los definimos en el fihceor de rutas a modo de parametros de la url hola/:id pues el json seria id: algo</li>
  </ul>

  <img src="assets/rutas-hijas6.png" alt="">

  <h3 id="dividir-fichero-rutas">10. Dividir el fichero de rutas en varios ficheros de rutas</h3>
  <hr>

  <ul>
    <li>Es una buena práctica fragmentar el fichero de rutas en varios ficheros si este contiene varios componentes con rutas hijas con el objetivo de evitar quedar demasiado extenso</li>
    <li>Para ello, nos creamos un nuevo fichero dentro del directorio del componente padre (siguiendo con el ejemplo, sería usuario.routes.ts)</li>
    <li>Dentro de este fichero copiamos el contenido del fichero de rutas principal, pero sin los mapeos innecesarios, dado que solo nos interesan el componente padre y los componentes hijos</li>
    <li>También podemos eliminar la importación del módulo RouterModule y la exportación de la constante app_routing</li>
    <li>Es decir, solo nos quedaría la importación del módulo Route más la constante que albergará el mapeo que nos interesa</li>
    <li>Ojo, debemos cambiar el nombre de la constante de los mapeos, no se debe llamar igual que </li>
  </ul>

  <img src="assets/rutas-hijas3.png" alt="">
  <caption><strong>Figura X.</strong> Breve explicación del contenido ilustrado en la figura</caption>

  <ul>
    <li>Vale... esto se explica mejor con una imagen. En la captura de arriba aparece el contenido del fichero de rutas DE USUARIOS</li>
    <li>Como vemos, solo hemos hecho el mapeo de los hijos, el padre no lo hemos considerado</li>
    <li>Debemos, obviamente, importar estos componentes como hacíamos en el fichero de rutas normal de toda la vida</li>
    <li>Ojo, las rutas de estos componentes en la importación son diferentes ahora porque este nuevo fichero de rutas se encuentra en un sitio distinto</li>
    <li>Debemos escribir export delante de la constante</li>
  </ul>

  <img src="assets/rutas-hijas4.png" alt="">
  <caption><strong>Figura X.</strong> Breve explicación del contenido ilustrado en la figura</caption>

  <ul>
    <li>En la captura de arriba está el fichero de rutas principal</li>
    <li>Quitamos las importaciones de los componentes hijos del componente usuario, dado que se tratan en el fichero de rutas particular</li>
    <li>importamos la constante (USUARIO_ROUTES) y la ruta será la del fichero de rutas particular de los usuaros</li>
    <li>Embebemos la constante en el camp ochildren del mapeo del componente usuario padre</li>
    <li>Es interesante ver cómo se exportan las constantes</li>
  </ul>

  <h3 id="manejo-rutas">11. Manejo de rutas en Angular</h3>
  <hr>

  <div class="pendiente">Mejorar esta sección porque está muy mal explicada (volver a ver el vídeo en Udemy)</div>
  <div class="pendiente mb-40">Mirar si esto afecta al modo de especificar una ruta en la navegación, tener que poner, por ejemplo, <b>routerLink="inicio"</b> o <b>"/inicio"</b></div>

  <ul>
    <li>Angular por defecto maneja rutas relativas, no absolutas</li>
    <li>Por ejemplo, en la ruta <i>localhost:4200/home</i> solo hemos escribo el sufijo <i>/home</i> y el navegador carga automáticamente el fichero <i>index.html</i> (cortesía de HTML 5)</li>
    <li>Para trabajar con rutas de la forma tradicional, dentro del fichero de rutas añade <b>&#123; useHash: true &#125;</b> como segundo parámetro para el método <b>forRoot( )</b></li>
    <li>De esta forma, la ruta que vimos en el ejemplo anterior quedaría como <i>localhost:4200/#/home</i> (ruta de hash)</li>
    <li>Cuando trabajamos con la forma que trae Angular por defecto (rutas relativas), Angular CLI carga la base de la ruta a partir de la instrucción <b>&lt;base href="/"&gt;</b> que se encuentra dentro del fichero <i>index.html</i></li>
    <li>De hecho, si eliminases esa instrucción daría error en la consola de JS, aunque puedes prescindir de dicha instrucción si utilizaras las rutas de hash</li>
    <li>Es importante tener en cuenta estas dos formas por el paso de parámetros a través de la URL</li>
    <li>Por lo visto, la primera forma implica una modificación en el servidor, mientras que la segunda no: es inmediata</li>
    <li>No obstante, existe una forma de mantener la simpleza y elegancia de la primera forma sin tener que configurar el servidor para poder implementar el paso de parámetros a través de la URL</li>
  </ul>

</div>