<div id="notas" class="animated fadeIn">

  <h2>Servicios</h2>

  <app-indice [items]="itemsIndice"></app-indice>
  
  <!-- ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

  <h3 id="introduccion">1. Introducción</h3>
  <hr>

  <ul>
    <li>Un servicio es un elemento que provee de datos a nuestros componentes</li>
    <li>Es recomendable utilizar un servicio cuando deseamos compartir información entre componentes, cuando varios componentes requieran de datos provenientes de la misma fuente de información (por ejemplo, una API REST) o cuando la información manejada sea de la misma temática (por ejemplo, un servicio que provea todos los datos de los usuarios registrados en el sistema)</li>
    <li>Esta información puede provenir del propio proyecto (por ejemplo, un fichero JSON almacenado en el directorio <i>assets</i>) o de un servidor remoto, lo que implicaría utilizar los métodos HTTP, como veremos a continuación</li>
    <li>De esta forma podemos centralizar la transferencia de datos en lugar de que cada componente se abastezca por su separado, dado que esto podría generar redundancia debido a la posibilidad de que haya más de un componente utilizando la misma información, lo que resulta una mal práctica y dificulta las actualizaciones</li>
    <li>No obstante, si se tratase de un caso aislado en el que un componente requiriese de información, es posible que utilizar un servicio resulte excesivo y sea más conveniente almacenar la información en una variable</li>
    <li>Gracias a los servicios podremos interactuar con BD y realizar un CRUD desde Angular</li>
    <li>Recuerda que Angular no permite operar directamente con BD debido a que es un framework de frontend, pero sí que puede interactuar con una aplicación de backend que sí pueda operar con BD comunicándose con esta utilizando servicios a modo de intermediarios (servicios HTTP, concretamente)</li>
    <li>Un servicio por defecto se compone de un fichero de pruebas y un fichero TS, donde <u>solo este último es obligatorio</u></li>
  </ul>

  <!-- ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

  <h3 id="crear-servicio">2. Crear servicio</h3>
  <hr>

  <ul>
    <li>Para crear un servicio dentro del directorio <i>app</i>, ejecutamos el comando <b>$ ng generate service _Nombre del servicio</b> o <b>$ ng g s _Nombre del servicio</b></li>
    <li>Es una buena práctica crear todos los servicios dentro de un mismo directorio (por ejemplo, <i>services</i> o <i>servicios</i>) para separarlos de los demás tipos de elementos</li>
    <li>Para ello, escribiemos el prefijo de ruta delante del nombre del componente, de la forma <b>$ ng g s servicios/_Nombre del servicio</b></li>
    <li>Como vemos, no es necesario escribir la ruta completa para el prefijo de ruta, sino la ruta a partir del directorio <i>app</i></li>
  </ul>
  
  <h4>2.1 Actualizar fichero <i>app.module.ts</i></h4>
  
  <ul>
    <li>Los servicios cuentan con el decorador <b>@Injectable(&#123; providedIn: 'root' &#125;)</b>, lo que nos libra de modificar el fichero <i>app.module.ts</i> tras su creación, al contrario que como ocurría con los componentes</li>
    <li>Esto implica que en caso de cambiar la ubicación de un servicio dentro del directorio <i>app</i>, no haría falta actualizar el fichero <i>app.module.ts</i></li>
    <li>No obstante, en versiones antiguas de Angular, era necesario dejar constancia en el fichero <i>app.module.ts</i> manualmente</li>
    <li>Para ello, tendríamos que importar el nombre de clase de nuestro servicio e incorporándolo dentro del campo <b>providers</b> del decorador</li>
  </ul>

  <h4>2.2 Eliminar fichero de pruebas</h4>

  <ul>
    <li>El fichero de pruebas (de extensión <i>.spec.ts</i>) se puede eliminar sin más</li>
  </ul>

  <h4>2.3 Omitir la creación del fichero de pruebas mediante flags</h4>

  <ul>
    <li>En lugar de eliminar manualmente el fichero de pruebas de un componente, podemos ahorrarnos este proceso diciéndole a Angular CLI que no los cree cuando creamos un componente desde la consola mediante flags</li>
    <li>Para crear un servicio sin fichero de pruebas, ejecutamos el comando <b>$ ng g s _Nombre del servicio --skipTests</b></li>
  </ul>

  <!-- ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

  <h3 id="configurar-servicio">3. Configurar servicio</h3>
  <hr>

  <h4>3.1 Configurar servicio local</h4>

  <ul>
    <li>Un servicio local provee de datos a partir de información almacenada dentro de nuestro proyecto</li>
    <li>Por ejemplo, es posible que la información sea un literal almacenado en una variable dentro del fichero TS del servicio, o que sea un fichero JSON dentro del directorio <i>assets</i>, entre otros</li>
    <li>En cualquier caso, solo sería necesario alojar la información en una variable y devolverlo en un método auxiliar creado por nosotros (figura 3.1)</li>

    <img src="assets/img/servicios/figura3-1.png" alt="">
    <caption><strong>Figura 3.1.</strong> Configuración de un servicio local</caption>
  </ul>

  <h4>3.2 Configurar servicio HTTP</h4>

  <ul>
    <li>Un servicio HTTP provee de datos a partir de información almacenada en un servidor remoto, lo que hace necesario obtener los datos mediante HTTP</li>
    <li>Dado que la información se encuentra fuera de nuestro proyecto, en una aplicación alojada en servidor remoto, cuando solicitamos la información no podemos saber en qué momento va a llegar</li>
    <li>Es por ello que necesitamos utilizar un observable que esté pendiente de la respuesta del servidor con la información necesaria, dado que es un evento asíncrono</li>
    <li>Los observables no son necesarios en los servicios locales porque ya contamos con la información correspondiente: la obtención de información en este caso es un evento síncrono e inmediato</li>
    <li>En primer lugar, dentro del fichero <i>app.module.ts</i> importamos la clase <b>HttpClientModule</b> y la incorporamos dentro del campo <b>imports</b> del decorador</li>

    <img src="assets/img/servicios/figura3-2.png" alt="">
    <caption><strong>Figura 3.2.</strong> Inyección de la clase <b>HttpClient</b> dentro del constructor del servicio</caption>

    <li>Dentro del fichero TS del servicio importamos la clase <b>HttpClient</b> y la inyectamos en el constructor con el identificador que queramos (en el ejemplo de la figura 6.2 el identificador es <i>http</i>)</li>
    <li>De esta forma dispondremos de todos los métodos de esta clase dentro de la variable <i>http</i>, continuando con el ejemplo de la figura 3.2, como el método <b>.get()</b>, correspondiente al método GET de HTTP</li>

    <img src="assets/img/servicios/figura3-3.png" alt="">
    <caption><strong>Figura 3.3.</strong> Devolución de observable</caption>

    <li>Creamos un método auxiliar que devuelva un observable que esté pendiente de la información devuelta desde la aplicación remota mediante una URL</li>
    <li>Un observable per se no devuelve información, eso ocurre cuando nos suscribamos a él</li>
    <li>En la figura 3.3 vemos el código análogo al visto en la figura 3.1 para un servicio local</li>
  </ul>
  
  <!-- ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->
  
  <h3 id="consumir-servicio">4. Consumir servicio</h3>
  <hr>

  <div class="pendiente mb-40">Inyección pública para usar directamente el atributo</div>

  <ul>
    <li>En cualquiera de los dos casos hemos de importar la clase de nuestro servicio en el componente donde lo vayamos a utilizar</li>
    <li>Tras esto, inyectamos el servicio en el constructor del componente (figura 4.1)</li>
    <li>Esto hará que dispongamos de todos sus atributos y métodos en la variable correpondiente, que en el ejemplo ilustrado en la figura 4.1 sería <i>servicio</i></li>
    <li>A parti de aquí será posible consumir el servicio dentro del método <b>ngOnInit()</b>, siendo aquí donde debemos tratar cada caso por separado</li>
    <li>Es decir, dentro de este método utilizamos la variable de la inyección para almacenar el dato devuelto por el servicio en un atributo, tras lo que podrá ser utilizado en el template del componente</li>

    <img src="assets/img/servicios/figura4-1.png" alt="">
    <caption><strong>Figura 4.1.</strong> Inyección del servicio dentro del constructor del servicio</caption>
  </ul>

  <h4>4.1 Consumir servicio local</h4>

  <ul>
    
    <li>En ejemplo ilustrado en la figura 4.2, hemos volcado el resultado del método <i>getSaludo()</i> dentro del atributo <i>respuestaServicio</i> directamente</li>
    <li>Claro, la información devuelta por el servicio se encontraba alojada en un atributo del mismo, no dependía de una aplicación externa, haciendo este proceso más simple que el análogo en HTTP <u>al ser síncrono</u></li>

    <img src="assets/img/servicios/figura4-2.png" alt="">
    <caption><strong>Figura 4.2.</strong> Uso del método <i>getSaludo()</i> del servicio local dentro del método <b>ngOnInit()</b></caption>
  </ul>

  <h4>4.2 Consumir servicio HTTP</h4>

  <div class="pendiente">Hablar de <i>data</i> y de las interfaces</div>
  <div class="pendiente mb-40">Decir qué hay que hacer para evitar que devuelva undefined</div>

  <ul>
    <li>En ejemplo ilustrado en la figura 4.3, hemos volcado el resultado del método <i>getSaludo()</i> dentro del atributo <i>respuestaServicio</i>, igual que antes</li>
    <li>No obstante, el proceso seguido no ha sido tan directo como el de la figura 4.2, dado que en este caso es asíncrono</li>
    <li>Claro, no sabemos a ciencia cierta el momento en el que la aplicación alojada en un servidor remoto nos proveerá con la información necesaria</li>
    <li>Es por ello que debemos suscribirnos al observable devuelto por el servicio, tal que cuando recibamos los datos necesarios, estos se vuelquen en un atributo (figura 4.3)</li>
    <li>De hecho, si nos fimamos veremos que el proceso es similar al del apartado anterior, pero trabajando con observables</li>
    <li>Los datos devueltos dentro de la suscripción del observable se volcarán en una variable temporal (en el ejemplo de la figura 4.3 es <i>data</i>), que nos servirá para el mapeo entre este y el atributo</li>
    <li>Decimos que esta variable es temporal porque solo existe dentro del ámbito de la suscripción del observable, lo que hace necesario volcar su contenido en un atributo</li>

    <img src="assets/img/servicios/figura4-3.png" alt="">
    <caption><strong>Figura 4.3.</strong> Uso del método <i>getSaludo()</i> del servicio HTTP dentro del método <b>ngOnInit()</b></caption>
  </ul>
</div>