<div id="notas" class="animated fadeIn">

  <h2>Servicios</h2>

  <h3>Funcionamiento de un serivicio</h3>
  <hr>

  <ul>
    <li>Texto</li>
  </ul>

  <h3>Programación reactiva</h3>
  <hr>

  <ul>
    <li>Texto</li>
  </ul>

  <h3>Operadorex RXJS</h3>
  <hr>

  <ul>
    <li>Texto</li>
  </ul>

  <h3>Observable</h3>
  <hr>

  <ul>
    <li>Texto</li>
  </ul>

  <h3>Suscripción</h3>
  <hr>

  <ul>
    <li>Texto</li>
  </ul>

  <h3>Promesas</h3>
  <hr>

  <ul>
    <li>Texto</li>
  </ul>

  <h3>Inyección</h3>
  <hr>

  <ul>
    <li>Texto</li>
  </ul>

</div>