// Responsive breakpoints
$mobile: 480px;
$tablet: 768px;
$laptop: 980px;

// Colors
$text        : rgb(50,50,50);
$primary     : rgb(50,55,70);
$lightprimary: rgba(50,55,65,.25);

#sidebar {
    position: relative;
    width: fit-content;
    height: 100%;
    min-height: 100vh;
    overflow: auto;

    // Logo

    .logo {
        display: none;
        margin: auto;
        position: absolute;
        top: 35px;
        right: 0;
        left: 0;
        height: auto;
    }

    // Items

    .items {
        list-style-type: none;
        padding: 0;
        margin: 0;

        .item {
            
            .enlace {
                display: flex;
                align-items: center;
                justify-content: space-between;
                text-decoration: none;
                border-top: 1px solid rgba(245,245,255,.05);
                padding: 15px;
                margin: 0;
                transition: .5s ease-in;
                cursor: pointer;

                .icono {
                    color: rgb(170,175,185);
                    font-size: 20px;
                    transition: .5s ease-in-out;
                }
    
                .texto {
                    display: none;
                    color: rgb(170,175,185);
                    font-size: 10px;
                    white-space: nowrap;
                    outline: none;
                    margin: 0;
                    width: 100%;
                    transition: .5s ease-in-out;
                }
    
                .caret {
                    color: rgb(170,175,185);
                    font-size: 18px;
                    line-height: 10px;
                    transition: .25s ease-in-out;
                }

            }

            &:first-child .enlace {
                border-top: none;
            }

            &:hover  .enlace,
            &.active .enlace {
                background: rgba(255,255,255,.1);

                .icono,
                .texto,
                .caret {
                    color: white;
                }

            }

            &.active {
                
                .enlace .caret {
                    transform: rotate(90deg);
                }

                .submenu {
                    display: block;
                }
            }
        }
    }

    // Submenu

    .submenu {
        display: none;
        list-style: none;
        color: $primary;
        background: rgb(170,175,185);
        padding: 0;
        margin: 0;

        li {
            border-bottom: 1px solid rgba(50,55,70,.1);
            padding: 15px 40px;
            transition: .5s;
            cursor: pointer;

            &:last-child {
                border: none;
            }

            &:hover {
                opacity: .75;
            }
        }
    }
}

// Mobile First

@media only screen and (min-width: $tablet) {

    #sidebar {
        flex-shrink: 0;
        padding-top: 150px;
        width: 275px;

        .logo {
            display: block;
            width: 75px;
        }

        .items .item .enlace {
            padding: 15px 40px;

            .icono {
                font-size: 15px;
                margin-right: 8px;
            }

            .texto {
                display: block;
                font-size: 14px;
            }
        }
    }
}

@media only screen and (min-width: $laptop) {
    
    #sidebar {
        width: 350px;
    }
}