<div id="notas" class="animated fadeIn">

    <h2>Login y registro</h2>

    <app-indice [items]="itemsIndice"></app-indice>
    
    <!-- ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->
  
    <h3 id="introduccion">1. Introducción</h3>
    <hr>
  
    <ul>
      <li>En esta sección vamos a explicar cómo implementar la gestión de usuarios desde Angular mediante el uso de servicios HTTP</li>
      <li>¿Por qué servicios? Porque las aplicaciones creadas con Angular son aplicaciones de frontend, que no pueden interactuar directamente ni de manera convencional con una BD</li>
      <li>¿Y por qué HTTP? Porque la BD estará alojada en otra aplicación, que será de backend, de modo que será necesario el protocolo HTTP para comunicarnos con ella</li>
      <li>Angular ejecutará peticiones HTTP que recibirá la aplicación de backend y que utilizará para operar con la BD de una forma u otra según el caso</li>
      <li>El problema es que esta guía no se centra en aplicaciones de backend, sino en Angular, de modo que no vamos a detenernos en la gestión de peticiones HTTP desde el backend</li>
      <li>En su lugar, ilustraremos el funcionamiento de Firebase para este propósito, que no solo nos permitirá almacenar y proteger los datos de los usuarios, sino que nos proveerá de una API para su gestión</li>
    </ul>

    <h4>1.1 Pasos necesarios</h4>
    
    <ul>
        <li>Configurar Firebase para que habilite el inicio de sesión mediante email y contraseña</li>
        <li>Cuando el usuario inicie sesión en nuestra aplicación, Firebase nos enviará por HTTP un token de seguridad que gestionaremos durante toda la sesión</li>
        <li>Este token de seguridad se creará cuando el usuario inicie sesión y se destruirá cuando la cierre o cuando expire (normalmente pasada una hora)</li>
        <li>Sabremos si el usuario ha iniciado sesión si dicho token de seguridad todavía existe</li>
        <li>Claro, no podemos manipular la BD de Firebase así como así, este nos tiene que dar permiso a través de dicho token de seguridad para autentificar nuestra petición HTTP</li>
        <li>Crear una clase a modo de modelo que defina la estructura de datos necesaria para definir un usuario</li>
        <li>Crear un servicio para la gestión de usuarios y un guardián para la gestión del token de seguridad y protección de rutas</li>
        <li>Un guardián no es más que un tipo de servicio específico para proteger rutas de nuestro proyecto de accesos indeseados</li>
        <li>Crear tres componentes, uno para el login, otro para el registro y otro para la página a la que accederemos tras loguearnos correctamente</li>
        <li>Esta última estará eventualmente protegida para que solo sea accesible tras loguearnos correctamente</li>
    </ul>

    <h4>1.2 Fichero <i>app.module.ts</i></h4>

    <ul>
        <li>Para poder utilizar los métodos HTTP, debemos importar la clase <b>HttpClientModule</b> e incorporarla dentro del campo <b>imports</b> del decorador</li>
        <li>Para poder utilizar la directiva <b>ngModel</b> debemos importar la clase <b>FormsModule</b> e incorporarla dentro del campo <b>imports</b> del decorador</li>
    </ul>

    <h4>1.3 Modelo de usuario</h4>
    
    <ul>
        <li>Creamos un directorio llamado <i>models</i> o <i>modelos</i></li>
        <li>Dentro, creamos un fichero llamado <i>usuario.model.ts</i> desde el editor de código, no hace falta utilizar Angular CLI</li>
        <li>Dentro, creamos una clase de la forma ilustrada en la figura 1.1</li>
        <li>Nótese que los campos de esta clase son los que se van a solicitar en el registro (para el login nos basta con el email y la contraseña)</li>

        <img src="assets/img/login-y-registro/figura2-1.png" alt="">
        <caption><strong>Figura 1.1.</strong> Modelo de usuario</caption>
    </ul>

    <h4>1.4 Firebase</h4>

    <div class="consultar mb-40"><a href="https://firebase.google.com/" target="_blank">Página web oficial</a> de Firebase</div>

    <ul>
        <li>Iniciamos sesión en Firebase y hacemos clic en <i>Ir a la consola</i> para acceder al listado de aplicaciones</li>
        <li>Creamos una nueva o seleccionamos una que ya exista (la gestión de usuarios es independiente de la BD que hayamos creado previamente)</li>
        <li>Desde el panel de administración, hacemos clic en <i>Authentication</i> dentro del sidebar y luego en la pestaña <i>Método de inicio de sesión</i></li>
        <li>Tras esto, veremos un listado de formas de inicio de sesión, del que nos interesa el método clásico de proveer un correo electrónico y una contraseña para este propósito</li>
        <li>Es por ello que debemos activar la opción <i>Correo electrónico / contraseña</i></li>
        <li>En la pestaña <i>Usuarios</i> tendremos un listado de usuarios que se hayan registrado en la aplicación de Firebase (en un principio estará vacía al no haberse registrado nadie)</li>
        <li>Como podemos suponer, Firebase nos provee de una API REST para gestionar operaciones típicas con usuarios, como el login o el registro, entre otros</li>
        <li>Esto libera al programador de tener que implementar esta lógica desde el lado del servidor</li>
        <li>Si en un futuro quisieras gestionar esta parte de otra manera, la aplicación de Angular no varía al estar encapsulada (en todo caso, las URLs de las peticiones HTTP)</li>
    </ul>
  
    <!-- ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->
  
    <h3 id="servicio">2. Servicio</h3>
    <hr>

    <div class="pendiente">Explicar por qué se carga en una variable el token de seguridad del local storage dentro del constructor</div>
    <div class="pendiente mb-40">¿Qué pasa cuando este no existe todavía? Creo que se devuelve <b>undefined</b> o algo así</div>

    <h4>2.1 Introducción</h4>

    <ul>
        <li>Importamos la clase <b>HttpClient</b> y la inyectamos dentro del constructor del servicio</li>
        <li>Tambien importamos el modelo de usuario y el operador RXJS <b>map</b></li>
        <li>Almacenamos la API Key de Firebase en una variable</li>
        <li>Esta API Key es secreta y no debe ser compartida, ya que quien la conozca podrá modificar nuestra BD</li>
        <li>La podemos encontrar desde el dashboard de nuestra aplicación en Firebase, haciendo clic en el icono con forma de engranaje y luego en <i>Configuración del proyecto</i></li>
        <li>El campo <i>Clave de API de la web</i> contiene el API Key</li>
        <li>Tanto el login como el regsitro utilizan una petición POST de HTTP, cuya URL se obtiene a partir de <a href="https://firebase.google.com/docs/reference/rest/auth#section-create-email-password" target="_blank">este enlace</a></li>
        <li>Como vemos, las URLs del login y del registro solo difieren al final</li>
    </ul>

    <h4>2.2 Registro</h4>

    <ul>
        <li>Creamos un método para el registro, como se observa en la figura 2.2</li>
        <li>Dentro simplemente debemos ejecutar un POST de HTTP</li>
        <li>Antes de realizar la petición creamos una variable con la cabecera con los datos del usuario que proporcionó en el formulario de registro</li>
        <li>El último campo de la cabecera (<i>returnSecureToken</i>) se activa para que Firebase devuelva el token de seguridad tras el registro</li>
        <li>De esta forma, el usuario habrá iniciado sesión automáticamente tras registrarse y no tendrá que rellenar el formulario de login</li>
        <li>No obstante, si no deseamos que esto ocurra y queremos que el usuario tras loguearse tenga que iniciar sesión, le asignamos <b>false</b></li>
        
        <img src="assets/img/login-y-registro/figura2-2.png" alt="">
        <caption><strong>Figura 2.2.</strong> Petición HTTP de tipo POST para el registro</caption>

        <li>Tras crear la cabecera ejecutamos la petición POST</li>
        <li>Dado que la URL de Firebase para el login y el registro comparten prefijo, lo hemos almacenado en la variable <i>url</i></li>
        <li>Seguimos generando la URL de la petición POST embebiendo la API Key</li>
        <li>Tras completar la URL, enviamos como segundo parámetro la cabecera que acabamos de generar</li>
        <li>Posteriormente, utilizamos el operador RXJS <b>map</b> para trabajar con el resultado devuelto por Firebase</li>
        <li>Firebase devolverá un objeto con datos necesarios, como el del campo <i>idToken</i>, que viene a ser el token de seguridad</li>
        <li>Almacenamos este token en el local storage a través de un método auxiliar (figura 2.3)</li>
        <li>Esto último (el uso del operador RXJS <b>map</b> y la gestión del token de seguridad) se hubiera podido implementar tras suscribinrnos al observable desde los componentes que vayan a hacer uso de él, pero es menos elegante</li>
        <li>Si se devuelve un error, el operador RXJS <b>map</b> no hace nada</li>
        <li>No obstante, RXJS te permite capturar el error producido con <b>catchError</b> (al mismo nivel que el operador <b>map</b>), pero no es necesario porque capturamos los posibles errores en los componentes</li>

        <img src="assets/img/login-y-registro/figura2-3.png" alt="">
        <caption><strong>Figura 2.3.</strong> Almacenamiento del token de seguridad en el local storage</caption>

        <li>En este método, además, almacenamos en el local storage la fecha de expiración, tal que pasado ese tiempo se debe borrar el token de seguridad y se fuerza el cierre de sesión del usuario</li>
        <li>Firebase no nos devuelve la fecha de expiración per se, sino la duración de la sesión en segundos (normalmente de una hora, lo que equivale a unso 3600 segundos)</li>
        <li>Podemos ir más lejos y sumarle el valor que almacena el campo <i>expiresIn</i> del objeto devuelto por Firebase tras el login, pero como desde siempre ha sido de una hora, no es necesario</li>
        <li>Debemos sumar (mediante el método <b>setTime()</b>) este intervalo de tiempo a la fecha actual para obtener así la fecha en la que el token de seguridad expirará</li>
        <li>Ojo, esta suma se puede realizar porque la fecha se pasa a un formato numérico expresado en segundos que no es fácilmente entendible por un ser humano, pero sí para un dispositivo</li>
        <li>Este formato numérico queda almacenado en el local storage para futuras validaciones, lo que permite al usuario modificar su valor en el local storage</li>
        <li>Es conveniente verirficar desde el backend que la fecha de expiracion corresponde con la que envia el usuario cuando comprueba si se ha caducado, para evitar así las consecuencias de un posible hackeo</li>
        
        <img src="assets/img/login-y-registro/figura2-4.png" alt="">
        <caption><strong>Figura 2.4.</strong> Petición HTTP de tipo POST para el registro sin login automático</caption>
        
        <li>Como habíamos dicho, tras registrarse el usuario se loguea automáticamente porque el campo <i>returnSecureToken</i> vale <b>true</b></li>
        <li>No obstante, en caso contrario el usuario simplemente quedaría almacenado en Firebase, pero tendría que loguearse posteriormente</li>
        <li>En tal caso solo habría que devolver el observable en la figura 2.2 y omitir el postprocesado reactivo del operador RXJS <b>map</b> y la invocación del método auxiliar de la figura 2.3, como ilustra la figura 2.4</li>
    </ul>

    <h4>2.3 Login</h4>

    <ul>
        <li>La implementación es prácticamente la misma que la del registro, vista en la figura 2.2</li>
        <li>Solo existen dos diferencias: la URL es diferente y la cabecera solo contendrá los datos necesarios para loguearse (email y contraseña)</li>
        <li>En este caso, el campo <b>returnSecureToken</b> de la cabecera siempre será <b>true</b>, dado que tras loguearse deseamos que Firebase devuelva el token de seguridad</li>

        <img src="assets/img/login-y-registro/figura2-5.png" alt="">
        <caption><strong>Figura 2.5.</strong> Petición HTTP de tipo POST para el login</caption>
    </ul>

    <!-- ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

    <h3 id="componente-registro">3. Componente del registro</h3>
    <hr>

    <div class="pendiente mb-40">Dentro del dashboard de nuestra aplicación en Firebase, si hacemos clic en <i>Authentication</i> y luego en la pestaña <i>Usuarios</i>, veremos que se recogen los datos del usuario que se acaba de registrar</div>

    <h4>3.1 Cambios necesarios dentro del template del componente <i>registro</i></h4>
    
    <ul>
        <li>En la figura 3.1 vemos el esquema general del formulario de registro dentro del template de este componente</li>
        <li>Como vemos, utilizamos una template variable (<i>#formularioRegistro</i>) para gestionar el formulario, que será de tipo <b>ngForm</b></li>
        <li>Cuando se haga submit se invocará a la función <i>onSubmit</i>, que recibirá el formulario como único parámetro</li>
        <li>Dicho formulario no es más que un objeto con multitud de campos que utilizaremos para gestionar distintas situaciones, como iremos viendo a continuación</li>
        <li>Tenemos dos inputs requeridos (atributo HTML <b>required</b>) y un botón. Cada input a su vez viene acompañado de un mensaje en caso de dejar el campo correspondiente vacío</li>
        <li>En cada input debemos utilizar la directiva <b>ngModel</b> wrappeada con paréntesis y corchetes para lograr una <u>total sincronización</u> con la variable que tiene designada como literal</li>
        <li>Esta directiva exige que el input en cuestión utilice el atributo HTML <b>name</b>, cuyo literal no tiene por qué coincidir con el de la directiva, como ocurre en la figura</li>
        <li>El literal del atributo <b>name</b> será utilizado para referenciar el input correspondiente dentro del objeto del formulario de Angular, designado por el identificador del template variable</li>
        <li>Nótese que el input del email utiliza el atributo de Angular <b>email</b> para poder realizar validaciones adicionales, como detección de errores de formato</li>
        
        <img src="assets/img/login-y-registro/figura3-1.png" alt="">
        <caption><strong>Figura 3.1.</strong> Formulario de registro</caption>

        <li>Los mensajes de validación que mencionamos antes indican al usuario que ha dejado uno o más campos obligatorios vacíos, todo ello tras haber hecho clic en el botón</li>
        <li>Para mostrar este mensaje solo cuando sea necesario, utilizamos la directiva <b>ngIf</b></li>
        <li>En dicha directiva tenemos en cuenta que previamente se haya hecho submit (<b>formularioRegistro.submitted</b>) para no mostrar este mensaje antes de que el usuario haya pulsado el botón</li>
        <li>Es más, si lo quitáramos daría error, dado que el código HTML de la validación se ha escrito delante del código HTML del input y es posible que todavía no se haya construido cuando preguntamos por él</li>
        <li>Además, tenemos en cuenta que exista un error para dicho campo (<b>formularioRegistro.controls['name'].errors</b>)</li>
        <li>Claro, <i>formularioRegistro</i> es el identificador del template variable que utilizamos para referencia el formulario, que viene a ser un objeto propio de Angular para trabajar con formularios</li>
        <li>Para conocer su estructura interna, puedes hacer ejecutar la función <b>console.log( formularioRegistro )</b> para del método <i>onSubmit()</i> dentro del fichero TS del componente</li>
        <li>Dentro de este objeto tenemos el campo <b>controls</b> que contendrá un listado de cada uno de los controles dentro del formulario en cuestión, como los inputs en el ejemplo de la figura 3.1</li>
        <li>¿Cómo se designa a cada control? Cada control tiene un identificador, que será el mismo que el designado en el literal del atributo HTML <b>name</b> del que hablamos antes</li>
        <li>A su vez, cada control contendrá una serie de campos, del que nos interesa el campo <b>errors</b>, que nos notificará de la existencia de errores para el campo en cuestión</li>
        <li>Es por ello que utilizamos este campo dentro de la directiva <b>ngIf</b></li>
        <li>Ojo, el ejemplo de la figura es demasiado simple, dado que se da por sentado que el único error que puede darse es que se deje uno o más campos del formulario vacíos, pero puede haber más</li>
        <li>Por ejemplo, el formato del email puede ser incorrecto, en cuyo caso igualmente se mostrará el mensaje <i>Este campo es obligatorio</i>, aunque el error no tenga que ver con eso</li>
    </ul>

    <h4>3.2 Cambios necesarios dentro del fichero TS del componente <i>registro</i></h4>

    <div class="pendiente">Mejorar explicación</div>
    <div class="pendiente">Explica cómo se instala el plugin Sweet Alert 2</div>
    <div class="pendiente mb-40">Se ha hecho para el login, pero no para el registro</div>

    <ul>
        <li>Importamos el modelo de usuario y declaramos una variable de este tipo cuyo identificador tendrá que coincidir con el literal de la directiva <b>ngModel</b> del template</li>
        <li>Importamos la clase <b>Router</b> y el servicio e inyectamos ambos en el constructor</li>
        <li>Claro, el primero lo vamos a utilizar para redirigir al usuario a la página protegida si se logueó satisfactoriamente y el segundo para insertar los datos del mismo en la BD de Firebase</li>
        <li>En la figura 3.2 podemos ver el código del método <i>onSubmit()</i> que vimos en el formulario del template de la figura 3.1</li>
        <li>Como vemos, lo primero que hacemos es comprobar si hay errores, en cuyo caso se aborta</li>
        <li>Posteriormente nos suscribimos al observable del servicio para registrarse y redirigimos al usuario a la página protegida</li>
        <li>En caso de producirse algún error, se imprime el mensaje de excepción en la consola de JS del navegador web</li>
        
        <img src="assets/img/login-y-registro/figura3-2.png" alt="">
        <caption><strong>Figura 3.2.</strong> Código para el registro de usuarios</caption>

        <li>Como vemos, el método <i>onSubmit()</i> recibe un formulario al que se le ha hecho submit en Angular como parámetro, que no es más que un objeto</li>
        <li>Uno de los campos del formulario es <b>invalid</b>, de tipo booleano, que valdrá <b>true</b> en caso de que el formulario no sea válido o <b>false</b> en caso contrario</li>
        <li>Este campo es el que utilizamos al comienzo para saber si se han producido errores o no (por ejemplo, campos vacíos o errores de formato en el email, como la omisión de <i>@</i>, entre otros)</li>
        <li>Por lo demás, utilizamos el plugin Sweet Alert 2 para mostrar un loading mientras se procesa el registro del usuario, que se cierra una vez se haya completado</li>
        <li>En caso de error también utilizamos este plugin para notificar al usuario de posibles errores</li>
        <li>Ojo, los errores de un formulario inválido no son los mismos que los que devuelve Firebase tras suscribirnos al observable</li>
        <li>En el segundo caso un error típico sería que el email ya se encuentra registrado en la BD de Firebase, entre otros</li>
        <li>Antes de mostrar el mensaje de error del plugin Sweet Alert 2 mostramos el mensaje de la excepción por consola (que deberías quitar del código en producción para no dar demasiada información)</li>
        <li>El mensaje del error constará dentro del objeto que devuelve Firebase cuando el usuario intenta registrarse, concretamente dentro del campo error/error/message</li>
        <li>Este objeto devuelvo por Firebase con el error lo hemos encerrado en el parámetro <i>excepcion</i> para poder gestionarlo</li>
        <li>Esta operación (el regsitro) es segura porque la petición POST que le enviamos a Firebase tiene la Api Key que solo nosotros podemos conocer porque es accesible desde nuestro dashboard, al que accedemos con nuestro usuario y contraseña de Firebase</li>
        <li>Firebase devuelve un objeto que contiene, entre otros, el token de seguridad, por no mencionar el tiempo que durará la sesión sin expirar expresado en segundos (comúnmente una hora)</li>
        <li>Firebase me devolverá datos tras el submit (en la doc puedes ver qué datos)</li>
        <li>Claro, en el POST que hicimos le enviamos el token de seguridad que obtuvimos en el dashboard de nuestra app, de modo que Firebase lo toma por bueno y lo ejecuta, modificando la BD</li>
        <li>Si intentamos registrar dos veces a un usuario con el mismo email, la segunda vez dará error porque ese email ya consta en la BD, de modo que gestionamos el error cuando nos suscribimos al observable</li>
        <li>El mensaje del error nos viene en un JSON por la consola de JS, de modo que lo capturamos en una variable para poder trabajar con las notificaciones al usuario</li>
    </ul>

    <!-- ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

    <h3 id="componente-login">4. Componente del login</h3>
    <hr>

    <h4>4.1 Fichero HTML</h4>

    <ul>
        <li>Hacemos prácticamente lo mismo que en la figura 3.1</li>
        <li>La única diferencia sería que en este caso el formulario quedaría simplificado, al requerir solo del email y la contraseña</li>
        <li>Además, hemos incorporado un checkbox para que el usuario decida si prefiere o no ser recordado para liberarle de tener que volver a rellenar el formulario en futuras visitas (figura 4.1)</li>

        <img src="assets/img/login-y-registro/figura4-1.png" alt="">
        <caption><strong>Figura 4.1.</strong> Recordar usuario</caption>
    </ul>
    
    <h4>4.2 Fichero TS</h4>

    <div class="pendiente mb-40">Mejorar explicación</div>

    <ul>
        <li>Hacemos prácticamente lo mismo que en la figura 3.2, pero suscribiéndonos al observable del login</li>
        <li>Nótese que tenemos en cuenta si el usuario ha activado o no la opción de ser recordado, en cuyo caso se almacena su email en el local storage (figura 4.2)</li>
        
        <img src="assets/img/login-y-registro/figura4-2.png" alt="">
        <caption><strong>Figura 4.2.</strong> Código para el inicio de sesión de usuarios</caption>
        
        <li>Dentro del método <b>ngOnInit()</b> comprobamos si el email del usuario se encuentra alojado en el local storage en caso de haber activado la opción de ser recordado (figura 4.3)</li>
        <li>En tal caso, este se almacena en la variable vinculada al literal de la directiva <b>ngModel</b> del input del email del formulario</li>
        <li>Tras esto, volvemos a asignarle <b>true</b> a la variable que almacena la decisión del usuario para no perderlo</li>
        <li>Nótese que la variable <i>recordarUsuario</i> es de tipo booleano y almacena la decisión del usuario en base a si desea o no ser recordado en futuras sesiones</li>
        <li>Esta variable es inicializada por defecto a <b>false</b> en la zona de declaración de variables del componente del login</li>
        <li>Esta variable está vinculada al checkbox del formulario gracias a la directiva <b>ngModel</b></li>
        <li>Esto se puede poner también en el formulario de registro, pero habría que quitar el código de la figura 4.3, ya que en el registro no deseamos que se autocomplete ningún campo</li>
        <li>¿Para qué? Para que el usuario desde el formulario de registro pueda activar que se le recuerde sin tener que hacerlo yendo al formulario de login (le ahorramos este paso)</li>

        <img src="assets/img/login-y-registro/figura4-3.png" alt="">
        <caption><strong>Figura 4.3.</strong> Recordar usuario</caption>

        <li>Firebase devuelve información detallada de por qué no se pudo realizar satisfactoriamente el inicio de sesión</li>
        <li>Esta información nos dice qué campo del formulario dio lugar al error (el email no existe, la constraseña no es correcta, etc.)</li>
        <li>No se recomienda dar tanta información al usuario para evitar que sepa qué email existe o no en la BD</li>
        <li>Asegúrate de mostrar un mensaje de notificación del tipo <i>Datos de acceso incorrectos</i> sin entrar en demasiado detalle para ponérselo más difícil a posibles usuarios maliciosos</li>
    </ul>

    <!-- ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

    <h3 id="logout">5. Logout</h3>
    <hr>

    <ul>
        <li>En este caso solo debemos destruir el token del usuario almacenado en localStorage</li>
        <li>Para ello, cremos un nuevo método dentro de nuestro servicio (por ejemplo, <i>logout()</i>) para dicho propósito (figura 5.1)</li>
        <li>En la figura 5.1 hacemos uso del método <b>removeItem()</b> del logal storage para eliminar el campo <i>token</i> de la BD (asegúrate de que el identificador del parámetro coincida con el de la tabla)</li>

        <img src="assets/img/login-y-registro/figura5-1.png" alt="">
        <caption><strong>Figura 5.1.</strong> Destrucción del token de seguridad de Firebase</caption>

        <li>Tras esto, solo necesitamos un elemento a modo de botón o enlace que nos permita cerrar sesión (por ejemplo, dentro del menú de navegación)</li>
        <li>Obviamente no tiene sentido mostrar dicho elemento en la página de login o de registro, ya que en ese punto todavía no hemos iniciado sesión</li>
        <li>En el ejemplo ilustrado en la figura 5.2 hemos implementado el cierre de sesión dentro del componente del menú de navegación</li>
        <li>Como vemos, fue necesario importar e inyectar <b>AuthService</b> (para eliminar el token de seguridad del local storage) y <b>Router</b> (para redirigir al usuario a la página del login) dentro del constructor</li>
        <li>Dentro del método <i>salir()</i>, eliminamos el token de seguridad utilizando el método <i>logout()</i> del servicio <i>auth</i> y redirigimos al usuario a la página del login</li>
        <li>Invoca este método desde el enlace o botón dentro del template correspondiente</li>

        <img src="assets/img/login-y-registro/figura5-2.png" alt="">
        <caption><strong>Figura 5.2.</strong> Cierre de sesión</caption>

    </ul>

    <!-- ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

    <h3 id="guardian">6. Guardián</h3>
    <hr>

    <ul>
        <li>Un guardián es un tipo de servicio especial que se encarga de proteger las rutas especificadas en el fichero de rutas de usuarios no logueados</li>
        <li>Es una buena práctica crear todos los guardianes dentro de un mismo directorio (por ejemplo, <i>guards</i> o <i>guardianes</i>) para separarlos de los demás tipos de elementos</li>
        <li>Para crearlo, ejecutamos el comando <b>$ ng g guardianes/_Nombre del guardián_</b></li>
        <li>Tras ejecutar este comando, Angular CLI nos mostrará tres opciones que podremos activar o desactivar con la barra espaciadora (podemos seleccionar más de una)</li>
        <li>Estas opciones son <b>CanActivate</b> (para proteger rutas, de modo que la activamos), <b>CanActivateChild</b> (para proteger rutas hijas) y <b>CanLoad</b> (para el lazy load)</li>
        
        <img src="assets/img/login-y-registro/figura6-1.png" alt="">
        <caption><strong>Figura 6.1.</strong> Estructura simplificada de un guardián</caption>
        
        <li>Efectivamente, el fichero que crea Angular CLI tiene la misma pinta que la de un servicio (fíjate en el decorador), como se observa en la figura 6.1</li>
        <li>Ojo, el guardián creado por Angular CLI no es exactamente igual que el de esta figura, dado que este ha sido modificado en base a nuestras necesidades</li>
        <li>Importamos el servicio y la clase <b>Router</b> y los inyectamos en el constructor</li>
        <li>Utilizaremos el primero para detectar si el usuario se ha logueado para una ruta en cuestión y el segundo para redirigir accesos indeseados a la página del login</li>
        <li>No es obligatorio redirigir a la página del login, hubiéramos podido haberlo hecho para una página de error 404 personalizada o cualquier otra cosa que nos parezca oportuna</li>
        <li>Nótese que tras la redirección igualmente se devuelve <b>false</b> (es obligatorio)</li>

        <img src="assets/img/login-y-registro/figura6-2.png" alt="">
        <caption><strong>Figura 6.2.</strong> Verificación de la bondad de un acceso</caption>

        <li>El guardián utilizará el token de seguridad para permitir o no la navegación de cierto abanico de páginas dentro de nuestra aplicación dentro del fichero de rutas</li>
        <li>Para ello, utilizamos el método <i>usuarioLogueado()</i>, que lo que hace es comprobar si existe el token de seguridad en el local storage y que no haya expirado (figura 6.2)</li>
        <li>Este método lo debemos crear en nuestro servicio (no en el guardián, sino en el servicio del apartado 2)</li>
        <li>Como vemos en la figura 6.2, comprobamos que el token de seguridad tenga al menos una extensión de dos caracteres</li>
        <li>En lugar de cargar el token de seguridad del local storage (sería una opción igualmente válida), ya lo teníamos almacenado en la variable <i>userToken</i>, inicializada en el constructor (figura 6.3)</li>
        <li>Después, cargamos la fecha de expiración del local storage (debemos hacer un cast para pasarla a su expresión numérica) y comprobamos que no supere la fecha actual (que no haya expirado)</li>

        <img src="assets/img/login-y-registro/figura6-3.png" alt="">
        <caption><strong>Figura 6.3.</strong> Obtención del token de seguridad dentro del constructor</caption>
    </ul>

    <h4>6.1 Fichero de rutas</h4>

    <ul>
        <li>Dentro del fichero de rutas importamos el guardián</li>
        <li>Tras esto, dentro de la constante <i>Routes</i> donde almacenamos el mapeo entre rutas y componentes, vinculamos el <u>nombre de clase del guardián</u> a las rutas que deseemos proteger (figura 6.4)</li>
        <li>Como vemos, las rutas de las páginas del login y el registro no están protegidas, dado que no necesitan protección (son accesibles para cualquier usuario)</li>
        <li>Tras esto vemos un esquema general de rutas que requieren protección, donde tenemos dos rutas hijas, una de ellas recibe un parámetro</li>
        <li>Sea cual sea el caso, simplemente incorporamos el campo <b>canActivate</b> con un vector de guardianes (sí, podemos asignarle más de uno)</li>
        <li>Recuerda que el campo <b>canActivate</b> corresponde al método del guardián visto en la figura 6.1</li>

        <img src="assets/img/login-y-registro/figura6-4.png" alt="">
        <caption><strong>Figura 6.4.</strong> Uso del guardián dentro del fichero de rutas</caption>
    </ul>
  </div>