<div id="notas" class="animated fadeIn">

  <h2>Ficheros y directorios</h2>

  <app-indice [items]="itemsIndice"></app-indice>
  
  <!-- ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

  <h3 id="dist">1. Directorio <i>dist</i></h3>
  <hr>

  <ul>
    <li>Este directorio por defecto no aparece cuando creamos un nuevo proyecto con Angular CLI</li>
    <li>Se crea tras ejecutar el comando <b>$ ng build --prod</b> para albergar el código compilado que va a ser subido a producción</li>
    <li>Recuerda que el código de TS debe ser compilado a JS para que pueda ser interpretado correctamente en servidor remoto, fuera del contexto de Angular</li>
  </ul>

  <!-- ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

  <h3 id="e2e">2. Directorio <i>e2e</i></h3>
  <hr>

  <ul>
    <li>Su nombre significa <i>end to end</i></li>
    <li>Este directorio es para fines de pruebas</li>
    <li>Angular CLI configura este directorio automáticamente</li>
  </ul>

  <!-- ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

  <h3 id="node_modules">3. Directorio <i>node_modules</i></h3>
  <hr>

  <ul>
    <li>Este directorio almacena las dependencias de nuestro proyecto</li>
    <li>Suele pesar demasiado, con lo que no debe subirse a nuestro repositorio de Git (es por ello que Angular por defecto lo ignora dentro del fichero <i>.gitignore</i>)</li>
    <li>En su lugar, trabajamos con el fichero <i>package.json</i> (mucho más ligero), que contiene un listado de especificaciones en formato JSON de todas las dependencias que utiliza nuestra aplicación</li>
    <li>Así, cuando un compañero clone el repositorio en su equipo, no tendrá que descargarse este pesado directorio, sino que bastará con este fichero</li>
    <li>Una vez haya finalizado la descarga del repositorio, tras ejecutar el comando <b>$ npm install</b> o <b>$ npm i</b> se generará el directorio <i>node_modules</i> con todas sus dependencias dentro</li>
    <li>Angular CLI sabe qué dependencias necesita instalar gracias al fichero <i>package.json</i></li>
  </ul>

  <!-- ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

  <h3 id="src">4. Directorio <i>src</i></h3>
  <hr>

  <h4>4.1 Directorio <i>app</i></h4>

  <ul>
    <li>Este directorio contiene los ficheros que componen el componente principal de un proyecto de Angular</li>
    <li>Estos ficheros son el fichero HTML o template (<i>app.component.html</i>), la hoja de estilos (<i>app.component.scss</i>), el fichero TS (<i>app.component.ts</i>), el módulo (<i>app.module.ts</i>) y el fichero de rutas (<i>app-routing.module.ts</i>)</li>
    <li>La importancia del componente principal reside en que a partir de él se pueden ejecutar los demás componentes en caso de existir</li>
    <li>Este directorio contiene a su vez los componentes, servicios, interfaces, pipes personalizados, directivas personalizadas, etc. que vayamos creando</li>
    <li>Es una buena práctica agrupar estos tipos de elementos en subdirectorios para lograr una mejor organización</li>
    <li>Por ejemplo, los componentes suelen estar dentro del subdirectorio <i>componentes</i>, y aquellos que sean compartidos suelen estar dentro del subdirectorio <i>componentes/compartido</i></li>
  </ul>

  <h4>4.2 Directorio <i>assets</i></h4>

  <ul>
    <li>Dentro de este directorio almacenaremos contenido estático, como imágenes, vídeos, ficheros PDF, fuentes, hojas JSON, etc.</li>
    <li>Es una buena práctica agrupar cada cosa en un subdirectorio (por ejemplo, crear un subdirectorio llamado <i>img</i> solo para las imágenes)</li>
    <li>El fichero vacío <i>.gitkeep</i> evita que Git no suba este directorio al repositorio si se encuentra vacío, es decir, fuerza a que se suba siempre independientemente de su contenido</li>
  </ul>

  <h4>4.3 Directorio <i>environments</i></h4>

  <ul>
    <li>Dentro de este directorio almacenaremos variables globales</li>
    <li>Contiene dos ficheros: el fichero <i>environments.ts</i> para el proyecto en desarrollo y el fichero <i>environments.prod.ts</i> para el proyecto en producción</li>
  </ul>

  <h4>4.4 Fichero <i>index.html</i></h4>

  <ul>
    <li>Es el fichero HTML principal, donde se carga el componente <b>app-root</b></li>
    <li>Salvo por este componente, tiene un aspecto exactamente igual a un fichero <i>index.html</i> convencional</li>
    <li>Dentro podemos escribir CDNs como hemos hecho siempre en caso de preferir este método a la instalación de dependencias mediante npm o incorporar tipografías de Google Fonts</li>
  </ul>

  <h4>4.5 Fichero <i>polyfills.ts</i></h4>

  <ul>
    <li>Este fichero contiene especificaciones de compatibilidad para poder ejecutar nuestro proyecto en versiones antiguas de navegadores web</li>
  </ul>

  <h4>4.6 Fichero <i>styles.scss</i></h4>

  <ul>
    <li>Es la hoja de estilos genérica cuyo ámbito afecta a todo el proyecto</li>
    <li>El código que escribamos dentro afectará a todos los componentes de nuestra aplicación, al contrario que las hojas de estilos de cada componente, cuyo ámbito se limita al componente en cuestión</li>
  </ul>

  <!-- ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

  <h3 id="package">5. Ficheros <i>package.json</i> y <i>package-lock.json</i></h3>
  <hr>

  <div class="nota mb-40">Consultar <a href="https://medium.com/coinmonks/everything-you-wanted-to-know-about-package-lock-json-b81911aa8ab8" target="_blank">enlace</a></div>
  
  <ul>
    <li>Estos dos ficheros nos permiten gestionar las dependencias de nuestro proyecto a través del comando <b>$ npm install</b> o <b>$ npm i</b></li>
    <li>De esta forma, no tendremos que subir al repositorio de Git el directorio <i>node_modules</i>, que almacena las dependencias per se y por ello suele ser muy pesado</li>
    <li>Como norma general, estos dos ficheros no deben ser modificados por el usuario, ya que Angular los gestiona automáticamente</li>
  </ul>

  <h4>5.1 Fichero <i>package.json</i></h4>

  <ul>
    <li>Contiene un listado de especificaciones en formato JSON de todas las dependencias que utiliza nuestra aplicación</li>
    <li>De esta forma evitamos trabajar directamente con el directorio <i>node_modules</i>, que contiene las dependencias especificadas en este fichero perse, lo que lo hace demasiado pesado</li>
    <li>De esta forma, si clonamos un repositorio de Git en nuestro equipo, a priori nuestro proyecto no contará con dicho directorio</li>
    <li>Tendremos que generarlo ejecutando el comando <b>$ npm install</b> o <b>$ npm i</b>, que lo genera e inserta dentro todas las dependencias a partir del contenido de este fichero</li>
    <li>Dentro de este fichero, el campo <b>dependencies</b> lista las dependencias de la aplicación en producción, mientras que el campo <b>devDependencies</b> lista las dependencias de la aplicación durante su fase de desarrollo</li>
  </ul>

  <h4>5.2 Fichero <i>package-lock.json</i></h4>

  <ul>
    <li>Al igual que el fichero anterior, contiene un listado de especificaciones en formato JSON de todas las dependencias que utiliza nuestra aplicación</li>
    <li>La diferencia estriba en que este fichero recoge la versión exacta de cada dependencia</li>
    <li>Esto permite generar un árbol de dependencias idéntico en cada equipo en el que hayamos clonado el repositorio de Git donde se alojará nuestro proyecto</li>
    <li>Ten en cuenta que el fichero <i>package.json</i> provee de una información mucho más simplificada acerca de la versión de cada dependencia</li>
    <li>Ante cualquier actualización en la versión de una o más dependencias, es posible que el fichero <i>package.json</i> no varíe</li>
  </ul>

  <!-- ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

  <h3 id="angular">6. Fichero <i>angular.json</i></h3>
  <hr>

  <ul>
    <li>Este fichero contiene las ubicaciones de las dependencias, de los directorios y ficheros principales que componen nuestro proyecto (directorios <i>src</i>, <i>assets</i>... o ficheros <i>favicon.ico</i>, la hoja de estilos principal...)</li>
    <li>Es por ello que tras instalar una dependencia vía npm y completarse la descarga, quedando alojada en el directorio <i>node_modules</i>, tenemos que dejar constancia de la existencia de la misma en este fichero</li>
    <li>Este es el esquema que sigue Angular: en lugar de almacenar las dependencias en el directorio <i>assets</i>, se almacenan en el directorio <i>node_modules</i>, con el fin de gestionar las dependencias por separado y dotar de una estructura más organizada a nuestra aplicación</li>
    <li>Por otro lado, en lugar de referenciarlas en el fichero <i>index.html</i>, se referencian en el fichero <i>angular.json</i>, con el fin de mantener limpio y despejado el contenido del fichero <i>index.html</i></li>
    <li>Podemos modificar este fichero si lo deseamos (por ejemplo, podemos cambiar el nombre del directorio <i>assets</i>, entre otros), pero conviene respetar la configuración predeterminada con el fin de mantener la estructura y configuración estándar de Angular, sobre todo si el proyecto es desarrollado por más de una persona</li>
    <li>Grosso modo, diremos que este fichero conecta a Angular con todos los paquetes de terceros, directorios y ficheros importantes</li>
    <li>Conviene analizar su contenido para aprender cómo Angular conecta las partes del proyecto y mejorar el aprendizaje en este framework</li>
  </ul>

  <!-- ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

  <h3 id="tsconfig">7. Fichero <i>tsconfig.json</i></h3>
  <hr>

  <ul>
    <li>Este ficheronos permite configurar o establecer nuevas reglas para el compilador de TS</li>
    <li>En el momento de ejecución no trabajamos con TS, sino con JS compilado, dado que el navegador web no es capaz de interpretar código TS, sino JS</li>
    <li>Dentro del fichero, el campo <b>target</b> es la versión de JS a la que deseamos compilar nuestro código de TS (<i>es</i> quiere decir ECMAScript)</li>
    <li>Por otro lado, el campo <b>sourceMap</b> activa o desactiva la generación de ficheros de soporte para depuración de código</li>
  </ul>

  <!-- ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

  <h3 id="tslint">8. Fichero <i>tslint.json</i></h3>
  <hr>

  <ul>
    <li>Este fichero contiene reglas en las que se define el comportamiento de los lints</li>
    <li>Un lint o linter es una herramienta que analiza el código fuente para señalar diferentes tipos errores (de programación, de estilos, etc.)</li>
    <li>La forma típica que tiene un lint de señalizar un problema es con rayas punteadas de color rojo para errores o de color amarillo para advertencias, entre otras</li>
    <li>Podemos variar sus reglas para ajustar el comportamiento de los lints según nuestras necesidades</li>
    <li>Por ejemplo, es posible que nos interese omitir ciertas advertencias para dar más libertad al programador</li>
    <li>Por otra parte, es posible que nos interese ser más estrictos para asegurarnos que todos los miembros de un equipo de desarrollo programen de la misma manera en cuanto al formato</li>
  </ul>

  <!-- ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

  <h3 id="editorconfig">9. Fichero <i>.editorconfig</i></h3>
  <hr>

  <ul>
    <li>Este fichero contiene opciones de configuración referentes al editor de texto que estemos utilizando (Visual Studio Code, Sublime Text, Atom...)</li>
  </ul>

  <!-- ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

  <h3 id="gitignore">10. Fichero <i>.gitignore</i></h3>
  <hr>

  <ul>
    <li>Angular CLI crea un repositorio local de Git con su fichero <i>.gitignore</i> al crear un proyecto</li>
    <li>Dentro aparecen las especificaciones de los ficheros y directorios que no van a subirse al repositorio, como el ya mencionado directorio <i>node_modules</i></li>
  </ul>

  <!-- ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

  <h3 id="readme">11. Fichero <i>README.md</i></h3>
  <hr>

  <ul>
    <li>Este fichero no tiene repercusión alguna sobre la implementación de nuestro proyecto</li>
    <li>Normalmente, dentro del repositorio de Git de nuestro proyecto, es común ver una explicación debajo del listado de ficheros y directorios que componen nuestra aplicación</li>
    <li>Grosso modo, este fichero debiera contener una explicación de la implementación de nuestro proyecto para facilitar su compresión a otros usuarios que puedan descargar nuestra aplicación</li>
    <li>Por defecto contiene una explicación genérica, pero podemos modificarlo como nos parezca más oportuno</li>
    <li>Si deseamos que el formato sea más bonito, debemos respetar la sintaxis (nos podemos guiar por el contenido que aparece por defecto), aunque no estamos obligados a ello</li>
  </ul>

</div>