<!--The content below is only a placeholder and can be replaced.-->
<div class="main-container container">
  
  <h1>Demo <small>Angular</small></h1>
  <hr>

  <!-- <app-ng-style></app-ng-style> -->
  
  <!-- <app-ambito></app-ambito> -->

  <!-- <app-clases></app-clases> -->

  <p appResaltado>
    Hazme hover!
  </p>

  <p [appResaltado]="'rgb(200,100,50)'">
    Hazme hover a mí también!
  </p>

  <p [appResaltado]="'red'">
    Hazme hover a mí también!
  </p>

  <p [appResaltado]="'#000000'">
    Hazme hover a mí también!
  </p>

</div>