<div id="notas" class="animated fadeIn">
    
  <h2>Directivas propias</h2>
  <hr>

  <span class="tarea-pendiente">Unificar los componentes de directivas en uno solo y diferenciar el contenido de cada uno con subapartados</span>
    
  <p appResaltado>
    Hazme hover!
  </p>
  
  <p [appResaltado]="'rgb(200,100,50)'">
    Hazme hover a mí también!
  </p>
  
  <p [appResaltado]="'red'">
    Hazme hover a mí también!
  </p>
  
  <p [appResaltado]="'#000000'">
    Hazme hover a mí también!
  </p>
  
</div>