<div id="notas" class="animated fadeIn">

    <h2>Formularios</h2>
    
    <app-indice [items]="itemsIndice"></app-indice>
        
    <!-- ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->
    
    <h3>X. Estructura interna de un formulario de Angular</h3>
    <hr>

    <div class="pendiente">Poner una captura de un <b>console.log( formulario )</b></div>
    <div class="pendiente mb-40">¿Qué vale el atributo <b>pristine</b> si el formulario escribe algo y luego lo borra?, ¿se restablece o no porque el formulario ha sido violado?</div>
    
    <ul>
        <li>El atributo <b>pristine</b> vale <b>true</b> cuando el usuario no ha alterado el formulario y <b>false</b> cuando sí ha alterado algo</li>
        <li>Con alterar nos referimos, por ejemplo, a escribir cualquier cosa dentro de un campo</li>
    </ul>
    
</div>