$text        : rgb(50,50,50);
$primary     : rgb(50,55,65);
$lightprimary: rgba(50,55,65,.25);

::-webkit-scrollbar       { width: 8px }
::-webkit-scrollbar-track { background: rgb(170,175,185) }
::-webkit-scrollbar-thumb { background: $primary }

::selection { color: white; background: $primary }

// Utils

.mb-40 {
    margin-bottom: 40px !important;
}

.pendiente {
    color: rgb(255,100,75);
    background: rgba(255,100,75,.35);;
    box-shadow: 0 0 -1px 1px rgb(255,100,75);;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 0;
    width: fit-content;
}

// ─────────────── //
//     GENERAL     //
// ─────────────── //

body {
    color: $text;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background: $primary;
}

h2 {
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 0 0 50px;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 50px 0 0;
}

h4 {
    font-size: 15px;
    font-weight: 500;
    margin: 30px 0;
}

p {
    font-weight: 300;
    margin: 0 0 25px;
}

u {
    text-decoration: none;
    border-bottom: 1px solid $lightprimary;
    padding-bottom: 1px;
}

i {
    color: rgb(140,0,255);
    font-style: normal;
}

b {
    color: rgb(0,130,255);
    font-weight: 400;
}

hr {
    background: $lightprimary;
    margin: 15px 0 40px;
}

// ───────────── //
//     NOTAS     //
// ───────────── //

#notas {

    a {
        color: rgb(0,130,255);
        font-weight: 400;
        text-decoration: none !important;
        border-bottom: 1px solid rgba(0,130,255,.5);
        transition: .25s ease-in-out;
    
        &:hover {
            color: rgba(0,130,255,.75);
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    
        li {
            font-weight: 400;
            margin: 0 0 10px 15px;
            position: relative;
    
            &:before {
                content: '';
                display: inline-block;
                border: 1px solid $lightprimary;
                border-radius: 50%;
                margin-right: 15px;
                position: absolute;
                top: 8px;
                left: -15px;
                width: 4px;
                height: 4px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    img {
        display: block;
        border: 1px solid $primary;
        margin: 50px 0 0 50px;
        max-width: 100%;
        height: auto;
    }

    caption {
        display: block;
        color: $text;
        font-size: 11px;
        font-weight: 400;
        padding: 0;
        margin: 5px 0 50px 50px;
    
        strong {
            display: inline;
        }
    }

    .indice {
        display: inline-block;
        background: rgba(50,55,65,.05);
        border: 1px solid rgba(50,55,65,.15);
        border-radius: 5px;
        padding: 20px;

        a {
            color: $text;
            display: block;
            border: none;
            margin-bottom: 10px;

            &::before {
                content: '\f0a4';
                color: $primary;
                font-family: "FontAwesome";
                margin-right: 10px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}