body {
    color: rgb(50,50,50);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: rgb(50,55,65);
    font-size: 25px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 50px 0 0;
}

h2 + hr {
    background: rgba(245,245,255,.25);
    margin-bottom: 50px;
}