body {
    color: rgb(50,50,50);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: rgb(50,55,65);
    margin: 25px 0 0;
}

h2 + hr {
    background: rgba(245,245,255,.5);
    margin-bottom: 50px;
}